<article id="accountpage">
	<nav>
		<a href="/"><span class="fa fa-th"></span></a>
		<a href="/account/profile">my account</a>
	</nav>

	<section class="pure-g profile">
		<div class="pure-u-1-4 pure-u-md-1-6">
			<div>
				<a href="https://gravatar.com/" target="_blank">
					<img ng-src="{{ account.gravatar | gravatarLarge }}" />
				</a>
			</div>
		</div>
		<div class="pure-u-3-4 pure-u-md-5-6">
			<div>
				<h4>{{ account.login }}</h4>
				<span class="fullname">{{ account.name }}</span>
				<span class="email">{{ account.email }}</span>
			</div>
		</div>
	</section>

	<section class="pure-g token">
		<div class="pure-u-1-6">
			<div>
				<i class="fa fa-key"></i>
				<span>api key</span>
			</div>
		</div>
		<div class="pure-u-5-6">
			<div>
				{{ account.token }}
			</div>
		</div>
	</section>
</article>