<article id="accountpage">
	<nav>
		<a href="/"><span class="fa fa-th"></span></a>
		<a href="/account/profile">my account</a>
	</nav>

	<section class="pure-g profile">
		<div class="pure-u-1-6">
			<div>
				<a href="https://gravatar.com/" target="_blank">
					<img ng-src="https://gravatar.com/avatar/{{ user.gravatar }}?d=identicon" />
				</a>
			</div>
		</div>
		<div class="pure-u-5-6">
			<div>
				<h4>bradrydzewski</h4>
				<span class="fullname">Brad Rydzewski</span>
				<span class="email">brad.rydzewski@gmail.com</span>
			</div>

			<!-- button to toggle HTML5 desktop notifications for build events -->
			<div ng-if="notifications.supported && !notifications.granted" class="notifications">
				<button ng-click="enableNotifications()" class="pure-button">Enable Notifications</button>
			</div>
		</div>
	</section>

	<section class="pure-g token">
		<div class="pure-u-1-6">
			<div>
				<i class="fa fa-key"></i> api key
			</div>
		</div>
		<div class="pure-u-5-6">
			<div>
				{{ user.token }}
			</div>
		</div>
	</section>
</article>