<article id="repopage">
	<nav>
		<div class="options ng-scope" ng-if="repo.role.admin || repo.role.write">
			<a class="pure-button pure-button-primary" ng-click="rebuild()" href="#">
				<i class="fa fa-refresh"></i>
				<span>Rebuild</span>
			</a>
		</div>

		<a href="/"><span class="fa fa-th"></span></a>
		<span>{{ repo.owner }}</span>
		<span>/</span>
		<a href="/{{ repo.host }}/{{ repo.owner }}/{{ repo.name }}">{{ repo.name }}</a>
		<span>/</span>
		<a href="#">{{ commit.sha | shortHash}}</a>
	</nav>


	<section>
		<div class="pure-g cards" ng-if="builds.length!=0">
			<h2 class="pure-u-1" style="font-size:22px;margin-bottom:20px;"><i class="fa fa-tasks"></i> Builds</h2>
			<a class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4 card card" ng-href="/{{ repo | fullPath }}/{{ commit.branch }}/{{ commit.sha }}/{{ build.index }}" ng-repeat="build in builds" data-status="{{ build.status }}">
				<div class="l-box">
					<h2>{{ build.name }}</h2>
					<em ng-if="build.finished_at != 0">{{ commit.author }}<br/>{{ build.finished_at | fromNow }}</em>
					<em ng-if="build.finished_at == 0 && build.started_at != 0">{{ commit.author }}<br/>Started {{ build.started_at | fromNow }}</em>
					<em ng-if="build.finished_at == 0 && build.started_at == 0">{{ commit.author }}<br/>Created {{ build.created_at}}</em>
					<img ng-src="{{ commit.gravatar | gravatar }}" />
				</div>
			</a>
		</div>
	</section>
</article>