<aside id="sidebar">
	<div id="sidebar-inner">
		<div class="result" data-result="{{ commit.status }}">
			<dl>
				<dd><span class="status">{{ commit.status }}</span></dd>
				<dd><strong>{{ commit.message }}</strong></dd>
			</dl>
		</div>

		<dl ng-if="commit.duration != 0">
			<dd><h1>{{ commit.duration | amDurationFormat:'seconds':false }}</h1></dd>
		</dl>

		<dl ng-include="'/static/views/commit_detail.html'" ng-show="commit.pull_request.length == 0"></dl>
		<dl ng-include="'/static/views/commit_detail_pr.html'" ng-show="commit.pull_request.length != 0"></dl>
		<dd ng-if="commit.finished_at != 0" am-time-ago="{{ commit.finished_at }}"></dd>
		<dd ng-if="commit.finished_at == 0 && commit.started_at != 0">Started <span am-time-ago="{{ commit.started_at }}"></span></dd>
		<dd ng-if="commit.finished_at == 0 && commit.started_at == 0">Created <span am-time-ago="{{ commit.created_at }}"></span></dd>
	</div>
</aside>

<div id="main" class="output">
	<div id="main" class="output" data-result="{{ commit.status }}">
		<nav>
			<div class="options ng-scope" ng-if="(repo.role.admin || repo.role.write) && (commit.status != 'Started' && commit.status != 'Pending')">
				<a class="pure-button pure-button-primary" ng-click="rebuildCommit()" href="#">
					<i class="fa fa-refresh"></i>
					<span>Rebuild</span>
				</a>
			</div>

			<a href="/"><span class="fa fa-th"></span></a>
			<span>{{ repo.owner }}</span>
			<span>/</span>
			<a href="/{{ repo.host }}/{{ repo.owner }}/{{ repo.name }}">{{ repo.name }}</a>
			<span>/</span>
			<a href="#">{{ commit.sha | shortHash}}</a>
		</nav>
		<div id="follow">
			<button ng-click="follow()" ng-if="following == false">follow</button>
			<button ng-click="unfollow()" ng-if="following == true">unfollow</button>
		</div>
		<pre id="output"></pre>
	</div>
</div>
