<article id="setuppage">
	<nav>
		<a href="/"><span class="fa fa-th"></span></a>
		<a href="#">Settings</a>
	</nav>

	<section ng-repeat="remote in remotes">
		<div class="pure-g">
			<div class="pure-u-1">
				<h2>{{ remote.type | remoteName }}</h2>
				<div class="pure-form">
					<div ng-if="remote.type != 'github.com' && remote.type != 'bitbucket.org' ">
						<label>URL</label>
						<div ng-switch="remote.type">
							<input ng-switch-default ng-model="remote.url" type="text" placeholder="https://www.foo.com" />
						</div>
					</div>

					<div ng-if="remote.type != 'github.com' && remote.type != 'bitbucket.org' && remote.type != 'gogs' ">
						<label>API URL</label>
						<div ng-switch="remote.type">
							<input ng-switch-default ng-model="remote.api" type="text" placeholder="https://www.foo.com/api" />
						</div>
					</div>

					<div ng-if="remote.type != 'gitlab.com' && remote.type != 'gogs' ">
						<label>OAuth Client</label>
						<div>
							<input type="text" ng-model="remote.client" />
						</div>
					</div>

					<div ng-if="remote.type != 'gitlab.com'">
						<label>OAuth Secret</label>
						<div>
							<input type="text" ng-model="remote.secret" />
						</div>
					</div>

					<div class="toggle">
						<input type="checkbox" ng-model="remote.register" id="register" />
						<label for="register"></label>
						<span>Enable Self-Registration</span>
					</div>

					<button ng-click="save()" class="pure-button pure-button-primary">Save</button>
				</div>
			</div>
		</div>
	</section>
</article>
