<div onclick="document.getElementById('drawer-checkbox').checked=false;">
	<ul>
		<li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
		<li><a href="/account/repos"><i class="fa fa-list"></i> Repositories</a></li>
		<li><a href="/account/profile"><i class="fa fa-user"></i> Account</a></li>
		<li ng-if="user.admin == true"><span class="divider"></span></li>
		<li ng-if="user.admin == true"><a href="/admin/users"><i class="fa fa-users"></i> Users</a></li>
	</ul>
	<a href="/logout" class="signout">Signout <i class="fa fa-sign-out"></i></a>
</div>