<!-- 
minor modifications to the style that only apply to this view
-->
<style>
#container { padding-top: 155px; }
#header { height: 150px; }
#header .user { display:none; }
#header .brand { margin-top:55px ; }
</style>

<article id="loginpage">
	<form class="pure-g" method="POST" action="/api/auth/gitlab.com">
		<div class="pure-u-1">
			<input type="text" name="username" placeholder="Email Address" />
		</div>
		<div class="pure-u-1">
			<input type="password" name="password" placeholder="Password" />
		</div>

		<div class="pure-u-1">
			<input type="submit" value="Gitlab Login" />
		</div>
	</form>
</article>