<!--
minor modifications to the style that only apply to this view
-->
<style>
#container { padding-top: 155px; }
#header { height: 150px; }
#header .user { display:none; }
#header .brand { margin-top:55px ; }
</style>

<article id="loginpage">
	<div class="pure-g">
		<div class="pure-u-1" ng-if="state == 1 && remotes.length != 0" ng-repeat="remote in remotes">
			<a ng-href="/api/auth/{{ remote.type }}" target="_self" ng-if="remote.type != 'gitlab.com' && remote.type != 'gogs' ">
				<i class="fa {{ remote.type | remoteIcon }}"></i> {{ remote.type | remoteName }}
			</a>
			<a ng-href="/gitlab" ng-if="remote.type == 'gitlab.com' ">
				<i class="fa {{ remote.type | remoteIcon }}"></i> {{ remote.type | remoteName }}
			</a>
			<a ng-href="/gogs" ng-if="remote.type == 'gogs' ">
				<i class="fa {{ remote.type | remoteIcon }}"></i> {{ remote.type | remoteName }}
			</a>
		</div>

		<div class="pure-u-1" ng-if="state == 1 && remotes.length == 0">
			<a href="http://readme.drone.io/setup/config/settings/" target="_blank">
				<i class="fa fa-rocket"></i> Read the Setup Guide
			</a>
		</div>
	</div>
</article>
