<article id="repoconfpage">
	<nav>
		<a ng-href="/{{ repo | fullPath }}">
			<span class="fa fa-arrow-left"></span>
		</a>
		<span>{{ repo.owner }}</span>
		<span>/</span>
		<a ng-href="/{{ repo | fullPath }}">{{ repo.name }}</a>
		<span>/</span>
		<a href="#">settings</a>
	</nav>


	<!-- this section is used to toggle builds and pull requests builds on and off -->
	<section>
		<div class="pure-g">
			<div class="pure-u-1">
				<div>
					<h2>Build Flags</h2>
					<div class="toggle">
						<input type="checkbox" ng-model="repo.post_commits" id="post_commit" />
						<label for="post_commit"></label>
						<span>Enable Post Commit Hooks</span>
					</div>

					<div class="toggle">
						<input type="checkbox" ng-model="repo.pull_requests" id="pull_requests" />
						<label for="pull_requests"></label>
						<span>Enable Pull Request Hooks</span>
					</div>
					<button ng-click="save()" class="pure-button pure-button-primary">Save Flags</button>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="pure-g">
			<div class="pure-u-1">
				<div>
					<h2>Private Variables</h2>
					<textarea class="params" ng-model="repo.params" placeholder="FOO=BAR"></textarea>
					<button ng-click="save()" class="pure-button pure-button-primary">Save Variables</button>
				</div>
			</div>
		</div>
	</section>

	<!-- this section is used for generating the build status badge's url -->
	<section>
		<div class="pure-g">
			<div class="pure-u-1">
				<a ng-href="/{{ repo | fullPath }}" target="_blank" style="float:right;">
					<img ng-src="/v1/badge/{{ repo | fullPath }}/status.svg" />
				</a>
				<h2>Status Badge</h2>
			</div>
			<div class="pure-u-1">
				<div class="markdown">{{ repo | badgeMarkdown }}</div>
			</div>
		</div>
	</section>

	<section ng-if="repo.public_key != '' ">
		<div class="pure-g">
			<div class="pure-u-1">
				<div>
					<h2>Public Key</h2>
				<pre class="key">{{ repo.public_key }}</pre>
				</div>
			</div>
		</div>
	</section>

</article>