<article id="repopage">
	<nav>
		<div class="options">
			<a class="pure-button pure-button-primary" href="/{{ repo | fullPath }}/settings">
				<i class="fa fa-sliders"></i> Settings
			</a>
		</div>

		<a href="/"><span class="fa fa-th"></span></a>
		<span>{{ repo.owner }}</span>
		<span>/</span>
		<a href="/{{ repo | fullPath}}">{{ repo.name }}</a>
	</nav>


		<section ng-repeat="group in commits | unique: 'branch'">
			<div class="pure-g cards">
				<h2 class="pure-u-1" style="font-size:22px;margin-bottom:20px;"><i class="fa fa-code-fork"></i> {{group.branch}}</h2>
				<a class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-u-xl-1-4 card card" href="/{{ repo | fullPath }}/{{ commit.branch }}/{{ commit.sha }}" ng-repeat="commit in commits | filter: { branch: group.branch } | limitTo:4" data-status="{{ commit.status }}">
					<div class="l-box">
						<h2>{{ commit.message }}</h2>
						<em ng-if="commit.finished_at != 0">{{ commit.finished_at | fromNow }}</em>
						<em ng-if="commit.finished_at == 0 && commit.started_at != 0">Started {{ commit.started_at | fromNow }}</em>
						<em ng-if="commit.finished_at == 0 && commit.started_at == 0">Created {{ commit.created_at}}</em>
						<img ng-src="{{ commit.gravatar | gravatar }}" />
					</div>
				</a>
			</div>
		</section>
</article>