<div class="toast" ng-if="msg != undefined">
	<span>commit </span>
	<a ng-href="/{{ msg.repo | fullPath }}/{{ msg.commit.branch }}/{{ msg.commit.sha }}">{{ msg.commit.sha | shortHash }}</a>
	<span ng-if="msg.commit.status == 'Started'">is running</span>
	<span ng-if="msg.commit.status == 'Success'">finished successfully</span>
	<span ng-if="msg.commit.status == 'Failure'">finished with errors</span>
	<button ng-click="reload()">Reload</button>
</div>

<article id="repopage">
	<nav>
		<div class="options">
			<a ng-if="repo.role.admin" class="pure-button pure-button-primary" ng-href="/{{ repo | fullPath }}/settings">
				<i class="fa fa-sliders"></i>
				<span>Settings</span>
			</a>
			<a ng-if="layout == 'row'" class="pure-button pure-button-primary" ng-click="setLayout('grid')">
				<i class="fa fa-th-large" style="margin-right:-10px;"></i>
			</a>
			<a ng-if="layout == 'grid'" class="pure-button pure-button-primary" ng-click="setLayout('row')">
				<i class="fa fa-th-list" style="margin-right:-10px;"></i>
			</a>
		</div>

		<a href="/"><span class="fa fa-th"></span></a>
		<span>{{ repo.owner }}</span>
		<span>/</span>
		<a ng-href="/{{ repo | fullPath}}">{{ repo.name }}</a>
	</nav>

		<section ng-if="repo.active == false" class="inactive">
			<h1>This will be your commit stream</h1>
			<p>Activate this repository to start testing your commits</p>
			<div><i class="fa fa-long-arrow-down"></i></div>
			<button ng-click="activate()" class="pure-button pure-button-primary ladda-button expand-right" data-loading="{{ activating }}" ng-model="button" ng-disabled="activating">Activate Now</button>
		</section>

		<section ng-if="repo.active == true && commits != undefined && commits.length == 0" class="nobuilds">
			<h1>This will be your commit stream</h1>
			<p>Add a .drone.yml file and make a commit to trigger a build</p>
			<div><i class="fa fa-file-code-o"></i></div>
		</section>

		<section ng-if="(commits).length!=0 && layout == 'row'" style="border:0px;">
			<div class="cards">
				<div class="tabs">
					<a class="pure-button" ng-class="{active: build_filter=='build_history'}" ng-click="setCommitFilter('build_history')">
						<i class="fa fa-history"></i>
						<span>Build History</span>
					</a>
					<a class="pure-button" ng-if="(commits | pullRequests).length!=0" ng-class="{active: build_filter=='pull_requests'}" ng-click="setCommitFilter('pull_requests')">
						<i class="fa fa-code-fork"></i>
						<span>Pull Requests</span>
					</a>
					<a class="pure-button" ng-class="{active: build_filter=='branch_summary'}" ng-click="setCommitFilter('branch_summary')">
						<i class="fa fa-code-fork"></i>
						<span>Branch Summary</span>
					</a>
				</div>
				<table class="list-view">
					<thead>
						<tr>
							<th>Build</th><th>Message</th><th>Commit</th><th>Committer</th><th>Duration</th><th>Finished</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="commit in filteredCommits() | limitTo:25" data-status="{{ commit.status }}">
							<td><a href='/{{ repo | fullPath }}/{{ commit.branch }}/{{ commit.sha }}'>{{ commit.id }}</a></td>
							<td>{{ commit.message }}</td>
							<td><a href='{{ repo.url }}/commit/{{ commit.sha }}'>{{ commit.sha | shortHash }}</a> (<a href='{{ repo.url }}/tree/{{ commit.branch }}'>{{ commit.branch }}</a>)</td>
							<td>{{ commit.author }}</td>

							<td ng-if="commit.finished_at != 0" title="{{ commit.duration }} seconds">{{ commit.duration | amDurationFormat:'seconds':false }}</td>
							<td ng-if="commit.finished_at == 0 && commit.started_at != 0" am-time-ago="{{ commit.started_at }}" am-without-suffix="true"></td>
							<td ng-if="commit.finished_at == 0 && commit.started_at == 0" am-time-ago="{{ commit.created_at }}" am-without-suffix="true"></td>

							<td ng-if="commit.finished_at != 0" title="{{ commit.finished_at * 1000 | date:'medium' }}" am-time-ago="{{ commit.finished_at }}"></td>
							<td ng-if="commit.finished_at == 0">-</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<section ng-if="layout == 'grid'" ng-repeat="group in commits | filter:{ pull_request: '' }:true | unique: 'branch'">
			<div class="pure-g cards">
				<h2 class="pure-u-1" style="font-size:22px;margin-bottom:20px;"><i class="fa fa-code-fork"></i> {{group.branch}}</h2>
				<a class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4 card card" ng-href="/{{ repo | fullPath }}/{{ commit.branch }}/{{ commit.sha }}" ng-repeat="commit in commits | filter:{ branch:group.branch }:true | limitTo:4" data-status="{{ commit.status }}">
					<div class="l-box">
						<h2>{{ commit.message }}</h2>
						<em ng-if="commit.finished_at != 0">{{ commit.author }}<br/><span am-time-ago="{{ commit.finished_at }}"></span></em>
						<em ng-if="commit.finished_at == 0 && commit.started_at != 0">{{ commit.author }}<br/>Started <span am-time-ago="{{ commit.started_at }}"></span></em>
						<em ng-if="commit.finished_at == 0 && commit.started_at == 0">{{ commit.author }}<br/>Created <span am-time-ago="{{ commit.created_at }}"></span></em>
						<img ng-src="{{ commit.gravatar | gravatar }}" />
					</div>
				</a>
			</div>
		</section>

		<section ng-if="(commits | pullRequests).length!=0 && layout == 'grid'">
			<div class="pure-g cards">
				<h2 class="pure-u-1" style="font-size:22px;margin-bottom:20px;"><i class="fa fa-code-fork"></i> Pull Requests</h2>
				<a class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4 card card" ng-href="/{{ repo | fullPath }}/{{ commit.branch }}/{{ commit.sha }}" ng-repeat="commit in commits | pullRequests | limitTo:4" data-status="{{ commit.status }}">
					<div class="l-box">
						<h2>{{ commit.message }}</h2>
						<em ng-if="commit.finished_at != 0">{{ commit.author }}<br/><span am-time-ago="{{ commit.finished_at }}"></span></em>
						<em ng-if="commit.finished_at == 0 && commit.started_at != 0">{{ commit.author }}<br/>Started <span am-time-ago="{{ commit.started_at }}"></span></em>
						<em ng-if="commit.finished_at == 0 && commit.started_at == 0">{{ commit.author }}<br/>Created <span am-time-ago="{{ commit.created_at }}"></span></em>
						<img ng-src="{{ commit.gravatar | gravatar }}" />
					</div>
				</a>
			</div>
		</section>
</article>