<div id="userspage">
	<nav>
		<a href="/"><span class="fa fa-th"></span></a>
		<a href="/">users</a>
	</nav>

	<section>
		<a class="pure-g user" ng-repeat="user in users" href="/admin/users/{{ user.remote }}/{{ user.login}}">
			<div class="pure-u-1-8">
				<div>
					<img class="gravatar" ng-src="{{ user.gravatar | gravatar }}" />
				</div>
			</div>
			<div class="pure-u-7-8">
				<div>
					<h4>{{ user.login }} <small>{{ user.remote }}</small></h4>
					<span class="email">{{ user.email }}</span>
				</div>
			</div>
		</a>
	</section>
</div>