.state {
  --color: var(--green-700) !important;
  --bg: var(--green-50) !important;

  color: var(--color) !important;
  background-color: var(--bg) !important;
  font-size: var(--font-size-small) !important;
  font-weight: 600 !important;
  padding: 4px 8px !important;
  border-radius: 4px;

  &.merged {
    --color: var(--purple-700) !important;
    --bg: var(--purple-50) !important;
  }

  &.closed {
    --color: var(--grey-700) !important;
    --bg: var(--grey-100) !important;
  }

  &.rejected {
    --color: var(--red-700) !important;
    --bg: var(--red-50) !important;
  }
}
