.tags {
  background: var(--grey-100) !important;
  border-radius: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  align-items: center;
  margin-right: var(--spacing-small) !important;
}

.editModal {
  :global(.bp3-menu) {
    min-width: 248px !important;
  }
}
