.main {
  padding-bottom: 0 !important;

  div[class*='TextInput'] {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }

  > div {
    align-items: center;
  }
}

.branchDropdown {
  background-color: var(--white);
}
