@import 'src/utils/utils';

.main {
  flex-shrink: 0;

  .line {
    margin: 0;
    padding: 0;
    cursor: text;
    min-height: 20px;
    display: block;

    @include mono-font;
    color: var(--white);

    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
}
