.danger {
  &:not(.isDark) {
    * {
      color: var(--red-500) !important;
    }
  }

  &:hover {
    background-color: var(--red-500) !important;

    * {
      color: var(--white) !important;
    }
  }
}

.isDark {
  .icon {
    svg path {
      fill: var(--white) !important;
    }
  }
}

.icon {
  color: var(--white) !important;
  padding: var(--spacing-xsmall) var(--spacing-small) !important;
}
