.main {
  min-height: var(--page-height);

  > div[class*='PageHeader'] {
    border-bottom: none !important;
  }
}

.prNumber {
  font-size: 20px;
  font-weight: 400;
  color: var(--grey-500);
  padding-left: var(--spacing-small);
}

.prTitle {
  align-items: center;

  .btn > span {
    background: var(--grey-100);
    border: 1px solid var(--grey-200);
    border-radius: 4px;
  }

  .input {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    input {
      width: 800px;
      font-weight: 600;
      padding: 0 var(--spacing-small) !important;
      line-height: 22px !important;
    }
  }
}

.changes {
  padding: 0 var(--spacing-xlarge) var(--spacing-xlarge) !important;
}

.checksCount {
  border: 1px solid var(--grey-100);
  background-color: var(--grey-50) !important;
  display: inline-flex;
  margin-left: 8px !important;
  border-radius: 4px;
  padding: 2px 5px 0 !important;

  .checksCountLayout {
    display: inline-flex;
    height: 18px;
    align-items: center;
    justify-content: center;

    > span {
      padding: 0 !important;
      margin: 0 !important;
      align-self: flex-start;
      line-height: 16px !important;

      &:last-of-type {
        padding-left: 5px !important;
      }
    }
  }
}
