.main {
  .state {
    color: var(--green-700) !important;
    background-color: var(--green-50) !important;
    font-size: 9px !important;
    font-weight: 600 !important;
    padding: 2px 6px !important;
    border-radius: 4px;
  }

  .metaline {
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: var(--grey-500) !important;

    &.time {
      color: var(--grey-400) !important;
    }

    strong {
      color: var(--grey-700) !important;
    }
  }
}
