.main {
  .metaline {
    font-size: var(--font-size-small) !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    color: var(--grey-500) !important;

    &.time {
      color: var(--grey-400) !important;
    }

    strong {
      color: var(--grey-700) !important;
    }
  }

  .layout {
    align-items: center;
  }
}
