.main {
  min-height: var(--page-min-height, 100%);
  background-color: var(--white) !important;

  > div[class*='PageHeader'] {
    border-bottom: none !important;
  }

  .tabsContainer {
    padding-top: var(--spacing-xsmall);

    // TODO: This looks bad and does not
    // perform well. Need a way to fix
    :global {
      .Tabs--main .bp3-tab:not([aria-disabled='true']):hover .bp3-icon svg path {
        fill: var(--grey-50) !important;
      }
    }

    [role='tablist'] {
      background-color: var(--white) !important;
      padding-left: var(--spacing-medium);
      padding-right: var(--spacing-xlarge);
      border-bottom: 1px solid var(--grey-200);
    }

    [role='tabpanel'] {
      margin-top: 0;
    }

    [aria-selected='true'] {
      .tabTitle,
      .tabTitle:hover {
        color: var(--grey-900) !important;
        font-weight: 600 !important;
      }
    }

    .tabTitle {
      font-weight: 500;
      color: var(--grey-700);

      .count {
        margin-left: var(--spacing-small);
        display: inline-block;
        border-radius: 8px;
        font-weight: 500;
        font-size: 12px;
        color: var(--primary-7) !important;
        background-color: var(--primary-1) !important;
        padding: 3px 6px !important;
      }
    }
  }
}

.prNumber {
  font-size: 20px;
  font-weight: 400;
  color: var(--grey-500);
  padding-left: var(--spacing-small);
}

.tabContentContainer {
  min-height: calc(100vh - 153px) !important;
  background-color: var(--primary-bg) !important;
}
