.author {
  color: var(--grey-500) !important;
  font-weight: 600 !important;
}

.hash {
  color: var(--primary-7) !important;
  font-family: Roboto Mono !important;
  font-size: var(--font-size-small) !important;
  font-weight: 500 !important;
}

.pillContainer {
  background-color: var(--grey-100) !important;
  color: var(--grey-500) !important;
  padding: 2px 4px !important;
}

.pillText {
  font-weight: 600 !important;
}
