.author {
  color: var(--grey-500) !important;
  font-weight: 600 !important;
}

.pillContainer {
  background-color: var(--grey-100) !important;
  color: var(--grey-500) !important;
  padding: 2px 4px !important;
}

.pillText {
  font-weight: 600 !important;
}
