.logLayout {
  margin-left: var(--spacing-xxxlarge) !important;
}

.lineNumber {
  width: var(--spacing-xlarge);
  color: #999;
  margin-right: 16px;
  font-family: 'Roboto Mono' !important;
}

.log {
  color: white !important;
  margin-bottom: var(--spacing-medium);
  font-family: 'Roboto Mono' !important;
}
