drone
drone_*
*.sqlite
*_gen.go
*.html
#*.css
*.txt
*.zip
*.gz
*.out
*.min.js
*.deb
.env
temp/

api/swagger/files/*

# vendored repositories that we don't actually need
# to vendor. so exclude them

vendor/google.golang.org/cloud
vendor/github.com/bugagazavr

# IDE/Editor stuff
.idea
