.DS_Store
NOTES*
__debug_bin
_research
.env
*.sqlite
*.sqlite3
web/node_modules
web/dist
web/coverage
yarn-error*
release
.idea
.vscode/settings.json
coverage.out
gitness.session.sql

# ignore any executables we build
/gitness