drone.sublime-project
drone.sublime-workspace
.vagrant

*~
~*
*.sqlite
*.sqlite3
*.deb
*.deb.*
*.rpm
*.out
*.prof
*.rice-box.go
*.db
*.txt
*.min.css
*.min.js
*_bindata.go
*.toml

# generate binaries
cmd/drone-agent/drone-agent
cmd/drone-build/drone-build
cmd/drone-agent/drone-server

# generated binaries in ./bin
bin/drone
bin/drone-agent
bin/drone-build
bin/drone-server

# generated binaries in dpkg
dist/drone/usr/local/bin/drone
