.name {
  align-items: center;
}

.breadcrumb {
  align-items: center;
}

.repoDropdown {
  color: var(--grey-700) !important;
  font-size: 18px !important;
  line-height: 28px !important;
  cursor: pointer;

  span[icon] {
    padding-top: 2px;
  }
}

.targetClassName {
  display: inline-flex !important;
}
