.header {
  border-bottom: 1px solid var(--grey-200);
  padding: var(--spacing-medium) var(--spacing-xlarge) 0 var(--spacing-xlarge) !important;
  background: var(--white) !important;
}

.breadcrumb {
  align-items: center;
}

.repoDropdown {
  color: var(--grey-700) !important;
  font-size: 18px !important;
  line-height: 28px !important;
  cursor: pointer;
}

.targetClassName {
  display: inline-flex !important;
}
