.main {
  background-color: var(--primary-1) !important;
  box-shadow: 0px 0px 1px rgb(40 41 61 / 8%), 0px 0.5px 2px rgb(96 97 112 / 16%);

  > div {
    align-items: center;
  }
}

.branchDropdown {
  background-color: var(--white);
}

.mergeText {
  font-size: 13px !important;
  font-weight: 600 !important;
}
