.label {
  color: #FFF;
  background:#8fa1b3;
  font-size: 10px;
  text-transform: uppercase;
  padding: 4px 8px;
  vertical-align: middle;
  border-radius: 2px;
  margin-left: 15px;
  cursor:default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.label-success {
  color: #a3be8c;
  border: 1px solid #a3be8c;
  background: #fff;
/*
  background: rgba(163, 190, 140, 0.25);
  border: none;
  font-size: 11px;*/
}
.label-failure {
  color: #bf616a;
  border: 1px solid #bf616a;
  background: #fff;
}