.main {
  position: fixed;

  left: calc(50vw + 270px / 2);
  top: 50vh;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 3;

  &.withBorder {
    background: var(--white) !important;
    padding: 30px 50px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16),
      0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  }

  &.standalone {
    left: 50vw;
  }

  .layout {
    align-items: center;

    .text {
      max-width: 30vw;
    }
  }
}
