.link {
  background-color: var(--primary-1);
  color: var(--primary-7);
  border-radius: 4px;
  line-height: 20px;
  font-size: var(--font-size-small);
  font-weight: 600;
  padding: 2px 6px !important;
}
