.main {
  .title {
    --typography-size: 20px !important;
  }

  .label {
    color: var(--grey-600) !important;
    font-size: var(--form-input-font-size) !important;
    font-weight: 500 !important;
  }

  // .branchSourceDesc {
  //   color: var(--grey-400) !important;
  //   font-size: var(--form-input-font-size) !important;
  //   font-weight: 500 !important;
  //   padding: var(--spacing-xsmall) 0 var(--spacing-small) !important;
  // }
}
