.status {
  --bg-color: var(--grey-350);
  white-space: nowrap !important;
  font-size: var(--font-size-xsmall) !important;
  color: var(--white) !important;
  border: none;
  background-color: var(--bg-color) !important;
  border-radius: var(--spacing-2);
  padding: var(--spacing-1) var(--spacing-3) !important;
  height: 18px;
  line-height: var(--font-size-normal) !important;
  font-weight: bold !important;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;

  &.danger {
    --bg-color: var(--red-600);
  }

  &.none {
    --bg-color: var(--grey-800);
  }

  &.success {
    --bg-color: var(--green-600);
  }

  &.primary {
    --bg-color: var(--primary-7);
  }

  &.warning {
    --bg-color: var(--warning);
  }

  > span {
    margin-right: var(--spacing-2) !important;
    color: var(--white) !important;
  }
}
