<main>
  <article>

    <section class="search">
      <input type="search" spellcheck="false" placeholder="Create or find a repository" ng-model="login" />
    </section>

    <ul class="list cozy">
      <a class="row row-repo" ng-repeat="repo in repos" ng-href="/{{ repo.full_name }}">
        <div class="column-avatar">
          <img ng-src="{{ repo.gravatar_id | gravatar }}" />
        </div>
        <div class="column-fill">
          <h2>{{ repo.name }}</h2>
        </div>
      </a>
    </ul>

  </article>
</main>