.main {
  padding: var(--spacing-large) var(--spacing-xlarge) 0 var(--spacing-xlarge) !important;

  div[class*='TextInput'] {
    margin-bottom: 0 !important;
    margin-left: 0 !important;

    input {
      background: transparent !important;
      border: none;
    }
  }

  > div {
    align-items: center;
    padding-bottom: var(--spacing-large) !important;
    // border-bottom: 1px solid var(--grey-100);
  }

  .btnColorFix > span[data-icon] {
    svg[fill='none'] g > path {
      fill: none !important;
    }
  }
}
