.main {
  height: calc(100vh - 112px) !important;
  background-color: var(--primary-bg) !important;
}

.pageBody {
  min-height: 100% !important;
}

.withError {
  display: grid;
}

.error {
  top: 0 !important;
  background-color: var(--red) !important;
  height: var(--log-content-header-height) !important;
  padding: var(--spacing-medium) !important;
  font-weight: 600 !important;
}
