<main>
  <article>

    <section class="search">
      <input type="search" spellcheck="false" placeholder="Filter commits for {{ repo.full_name}}" />
      <menu>
        <button type="button" ng-click="unwatch(repo)" ng-if="repo.starred && user">
          <i class="material-icons">visibility</i>
        </button>
        <button type="button" ng-click="watch(repo)" ng-if="!repo.starred && user">
          <i class="material-icons">visibility_off</i>
        </button>
        <a href="/{{ repo.full_name }}/edit">
          <i class="material-icons">tune</i>
        </a>
      </menu> 
    </section>

    <div>
      <div class="list">
        <a ng-repeat="build in builds | orderBy:'-number'" ng-href="/{{ repo.full_name }}/{{ build.number}}">
          <div class="column-status">
            <div class="status {{ build.status }}"></div>
          </div>
          <div class="column-fill">
            <h2>{{ build.head_commit.message }}</h2>
            <p><em>{{ build.head_commit.author.login }}</em> pushed to <em>{{ build.head_commit.branch }}</em> {{ build.started_at | fromNow }}</p>
          </div>
        </a>
      </div>
    </div>
  </article>
</main>