{{ define "title" }}Users · Sysadmin{{ end }}

{{ define "content" }}

	<div class="subhead">
		<div class="container">
			<h1>Sysadmin</h1>
		</div><!-- ./container -->
	</div><!-- ./subhead -->


	<div class="container">
		<div class="row">

			<div class="col-xs-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/account/admin/settings">Settings</a></li>
					<li class="active"><a href="/account/admin/users">Users</a></li>
				</ul>
			</div><!-- ./col-xs-3 -->

			<div class="col-xs-9" role="main" style="padding-left:20px;">
				<div class="alert">Manage all users in the System.</div>
				<div class="row gravatar-list">
					<span class="col-xs-3">
						<a class="thumbnail team-add" href="/account/admin/users/add">
							<span>
								<i class="fa fa-group"></i>
							</span>
							<div class="caption">
								<h3>add users</h3>
							</div>
						</a>
					</span>
					{{ range .Users }}
					<span class="col-xs-3">
						<a class="thumbnail" href="/account/admin/users/edit?id={{.ID}}">
							<img src="{{.ImageLarge}}">
							<div class="caption">
								<h3>{{.Name}}</h3>
							</div>
						</a>
					</span>
					{{ end }}
				</div>
			</div><!-- ./col-xs-9 -->
		</div><!-- ./row -->

	</div><!-- ./container -->
{{ end }}

{{ define "script" }}
{{ end }}