<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Brad Rydzewski">
		<title>{{ template "title" . }}</title>

		<link rel="shortcut icon" href="/img/favicon.png" />

		<!-- bootstrap styles -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


		<!-- drone bootstrap theme -->
		<link href="/css/drone.css" rel="stylesheet" type="text/css" />

		<!-- fonts -->
		<link href="//fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" />
		<link href="//fonts.googleapis.com/css?family=Open&#43;Sans" rel="stylesheet" />
		<link href="//fonts.googleapis.com/css?family=Droid&#43;Sans&#43;Mono" rel="stylesheet" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />

		<script src="/js/main.js" type="text/javascript"></script>
	</head>
	<body>

		<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/dashboard">drone.io</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						{{ if .User }}
						<li><a href="/dashboard">Home</a></li>
						<li><a href="/account/user/profile">Settings</a></li>
						<li><a href="http://drone.readthedocs.org/en/latest/">Help</a></li>
						<li><a class="btn btn-config" href="/account/admin/settings"><i class="fa fa-cogs"></i></a></li>
						<li><a href="/new/github.com" class="btn">New Repository</a></li>
						<li><a href="/logout" class="btn">Logout</a></li>
						{{ else }}
						<li><a href="https://github.com/drone/drone">About</a></li>
						<li><a href="http://drone.readthedocs.org/en/latest/">Help</a></li>
						<li><a href="/login" class="btn">Login</a></li>
						{{ end }}
					</ul>
				</div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		</div>


		{{ template "content" . }}
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
		{{ template "script" . }}
	</body>
</html>
