<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Brad Rydzewski">
		<title>{{ template "title" . }}</title>

		<link rel="shortcut icon" href="/img/favicon.png" />

		<!-- bootstrap styles -->
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- drone bootstrap theme -->
		<link href="/css/drone.css" rel="stylesheet" type="text/css" />

		<!-- fonts -->
		<link href="//fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" />
		<link href="//fonts.googleapis.com/css?family=Open&#43;Sans" rel="stylesheet" />
		<style>
			body{background:#EEE;}
		</style>
	</head>
	<body>

		<form class="form-centered" method="POST">
		{{ template "content" . }}
		</form>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
	{{ template "script" . }}
	</body>
</html>
