{{ define "title" }}Installation · drone.io{{ end }}

{{ define "content" }}
	<h1>Installation</h1>
	<form action="install" method="post">
		<div>
			<input class="form-control" type="text" name="name" placeholder="Full Name (e.g. John Smith)" autocomplete="off" spellcheck="off" />
			<input class="form-control" type="text" name="email" placeholder="Email Address" autocomplete="off" spellcheck="off" style="border-top:0px;border-radius:0px;" />
			<input class="form-control" type="password" name="password" placeholder="Password" />
		</div>
		<div>
			<input type="hidden" name="Scheme" />
			<input type="hidden" name="Domain" />
			<input type="submit" value="Create Admin" />
		</div>
	</form>
{{ end }}

{{ define "script" }}
	<script>
	$("input[name=Domain]").val(window.location.host)
	$("input[name=Scheme]").val(window.location.protocol == "https:"?"https":"http")
	</script>
{{ end }}
