{{ define "title" }}Login · drone.io{{ end }}

{{ define "content" }}
	<h1>Login</h1>
	<div class="alert alert-danger">Invalid Email Address or Password</div>
	<div>
		<input type="text" name="username" placeholder="Email address" autocomplete="off" spellcheck="false" class="form-control" />
		<input type="password" name="password" placeholder="Password" class="form-control"  />
	</div>
	<div>
		<input type="submit" value="Sign in" />
	</div>
	<div>
		<a href="/forgot">forgot password</a>
	</div>
{{ end }}

{{ define "script" }}
{{ end }}