{{ define "title" }}Login · drone.io{{ end }}

{{ define "content" }}
	<h1>Login</h1>
	<div>
		<input type="email" name="username" placeholder="Email address" autocomplete="off" spellcheck="false" class="form-control" />
		<input type="password" name="password" placeholder="Password" class="form-control"  />
	</div>
	<div>
		<input type="submit" value="Sign in" />
	</div>
	<div>
        {{ if .Settings.OpenInvitations }}
        <a href="/signup">request invitation</a> | <a href="/forgot">forgot password</a>
        {{ else }}
		<a href="/forgot">forgot password</a>
		{{ end }}
	</div>
{{ end }}

{{ define "script" }}
<script>
	$(function() {
		$("input").first().focus()
	})
</script>
{{ end }}
