{{ define "title" }}Register · drone.io{{ end }}

{{ define "content" }}
	<h1>Registration</h1>
	{{ if .Error }}
	<div class="alert alert-danger">{{.Error}}</div>
	{{ end }}
	<div>
		<input class="form-control" type="text" name="name" placeholder="Full Name (e.g. John Smith)" autocomplete="off" spellcheck="off" />
		<input class="form-control" type="password" name="password" placeholder="Password" />
	</div>
	<div>
		<input type="submit" value="Create Account" />
		<div>
			<a href="/login">back to login</a>
		</div>
	</div>
{{ end }}

{{ define "script" }}
{{ end }}