{{ define "title" }}{{.Repo.Slug}} · Keys{{ end }}

{{ define "content" }}

	<div class="subhead">
		<div class="container">
			<ul class="nav nav-tabs pull-right">
				<li><a href="/{{.Repo.Slug}}">Commits</a></li>
				<li class="active"><a href="/{{.Repo.Slug}}/settings">Settings</a></li>
			</ul> <!-- ./nav -->
			<h1>
				<span>{{.Repo.Name}}</span>
				<small>{{.Repo.Owner}}</small>
			</h1>
		</div><!-- ./container -->
	</div><!-- ./subhead -->


	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/{{.Repo.Slug}}/settings">Repository</a></li>
					<li><a href="/{{.Repo.Slug}}/params">Params</a></li>
					<li class="active"><a href="/{{.Repo.Slug}}/keys">Key Pairs</a></li>
					<li><a href="/{{.Repo.Slug}}/badges">Badges</a></li>
					<li><a href="/{{.Repo.Slug}}/delete">Delete</a></li>
				</ul>
			</div><!-- ./col-xs-3 -->

			<div class="col-xs-9" role="main"><div class="alert">Public Key, used for Deployments</div>
				<form method="POST" action="/{{.Repo.Slug}}/keys">
					<label>You can add this Key to your Heroku account, SSH <code>.ssh/authorized_keys</code> file, and more. Drone also use this key to fetch private repositories.</label>
					<div>
						<textarea name="PublicKey" class="form-control" rows="8" spellcheck="false">{{.Repo.PublicKey}}</textarea>
					</div>

					<div class="form-actions">
						{{if .Repo.Private }}
						<label>This repository is private.<br>You may have to manually add the new public key to your upstream host if you regenerate them here.</label>
						{{end}}
						<input class="btn btn-primary" id="submitButton" type="submit" value="Regenerate Key">
					</div>

				</form>
			</div><!-- ./col-xs-9 -->
		</div><!-- ./row -->
	</div><!-- ./container -->
{{ end }}

{{ define "script" }}
{{ end }}
