{{ define "title" }}{{.Team.Name}} · Profile{{ end }}

{{ define "content" }}

	<div class="subhead">
		<div class="container">
			<ul class="nav nav-tabs pull-right">
				<li>
					<a href="/dashboard/team/{{.Team.Slug}}">Dashboard</a>
				</li>
				<li class="active">
					<a href="/account/team/{{.Team.Slug}}/profile">Team Settings</a>
				</li>
			</ul> <!-- ./nav -->
			<h1 class="user">
				<img src="{{.Team.Image}}">
				<span>{{.Team.Name}}</span>
			</h1>
		</div><!-- ./container -->
	</div><!-- ./subhead -->


	<div class="container">
		<div class="row">

			<div class="col-xs-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/account/team/{{.Team.Slug}}/profile">Profile</a></li>
					<li class="active"><a href="/account/team/{{.Team.Slug}}/members">Members</a></li>
					<li><a href="/account/team/{{.Team.Slug}}/delete">Delete</a></li>
				</ul>
			</div><!-- ./col-xs-3 -->

			<div class="col-xs-9" role="main" style="padding-left:20px;">
				<div class="alert">Members share access to all Repositories owned by this Team account.</div>
				<div class="row gravatar-list">
					<span class="col-xs-3">
						<a class="thumbnail team-add" href="/account/team/{{.Team.Slug}}/members/add">
							<span>
								<i class="fa fa-group"></i>
							</span>
							<div class="caption">
								<h3>add members</h3>
							</div>
						</a>
					</span>
					{{ $teamSlug := .Team.Slug }}
					{{ range .Members }}
					<span class="col-xs-3">
						<a class="thumbnail" href="/account/team/{{$teamSlug}}/members/edit?id={{.ID}}">
							<img src="{{.ImageLarge}}">
							<div class="caption">
								<h3>{{.Name}}</h3>
							</div>
						</a>
					</span>
					{{ end }}
				</div>
			</div><!-- ./col-xs-9 -->
		</div><!-- ./row -->
	</div><!-- ./container -->
{{ end }}

{{ define "script" }}
{{ end }}