{{ define "title" }}{{.User.Name}} · Teams{{ end }}

{{ define "content" }}

	<div class="subhead">
		<div class="container">
			<ul class="nav nav-tabs pull-right">
				<li><a href="/dashboard">Dashboard</a></li>
				<li class="active"><a href="/account/user/profile">Settings</a></li>
			</ul> <!-- ./nav -->
			<h1 class="user">
				<img src="{{.User.Image}}">
				<span>{{.User.Name}}</span>
			</h1>
		</div><!-- ./container -->
	</div><!-- ./subhead -->


	<div class="container">
		<div class="row">

			<div class="col-xs-3">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/account/user/profile">Profile</a></li>
					<li><a href="/account/user/password">Password</a></li>
					<li class="active"><a href="/account/user/teams">Teams</a></li>
					<li><a href="/account/user/delete">Delete</a></li>
				</ul>
			</div><!-- ./col-xs-3 -->

			<div class="col-xs-9" role="main" style="padding-left:20px;">
				<div class="alert">Teams allow you to share your Repositories with other developers.</div>
				<div class="row gravatar-list">
					<span class="col-xs-3">
						<a class="thumbnail team-add" href="/account/user/teams/add">
							<span>
								<i class="fa fa-group"></i>
							</span>
							<div class="caption">
								<h3>add team</h3>
							</div>
						</a>
					</span>
					{{ range $team := .Teams }}
					<span class="col-xs-3">
						<a class="thumbnail" href="/account/team/{{$team.Slug}}/profile">
							<img src="{{$team.ImageLarge}}">
							<div class="caption">
								<h3>{{$team.Name}}</h3>
							</div>
						</a>
					</span>
					{{ end }}
				</div>
			</div><!-- ./col-xs-9 -->
		</div><!-- ./row -->

	</div><!-- ./container -->
{{ end }}

{{ define "script" }}
{{ end }}