.divider {
  margin: var(--spacing-medium) 0 var(--spacing-large) 0 !important;
}

.dividerContainer {
  opacity: 0.2;
  height: 1px;
  color: var(--grey-100);
  margin: 20px 0;
}

.popover {
  transform: translateY(5px) !important;

  .menuItem {
    min-width: 186px;

    &:hover p {
      color: var(--white) !important;
    }
  }
}

.hideContainer {
  :global {
    --bp3-intent-color: unset !important;
    .bp3-form-helper-text {
      margin-top: unset !important;
    }
    .FormError--errorDiv {
      display: none !important;
    }
  }
}
