.tabContent {
  height: calc(100vh - 130px) !important;
  overflow: auto;
}

.resourceTree {
  .repoBranch {
    position: sticky;
    top: 0;
    background-color: var(--white);
    padding-bottom: var(--spacing-small) !important;
    padding-right: 0 !important;
    z-index: 1;
  }

  .dropdown {
    flex-grow: 1;
  }

  .branchDropdown {
    background-color: var(--grey-100);
  }

  .fileTree {
    padding: var(--spacing-small) var(--spacing-large) var(--spacing-large) var(--spacing-xlarge) !important;
    min-height: calc(100% - 128px);
  }

  .fileNewActions {
    position: sticky;
    bottom: 0;
    background-color: var(--white);
    padding-top: var(--spacing-small) !important;
  }
}
