.main {
  min-height: var(--page-min-height, 100%);
  background-color: var(--white) !important;
}

.emptyRepo {
  padding: var(--spacing-xxlarge) !important;
}

.divContainer {
  background: var(--white);
  box-shadow: var(--elevation-2);
  border-radius: 4px;
}

.textContainer {
  display: flex;
}

.clickableText {
  cursor: pointer;
}
.bannerContainer {
  padding: var(--spacing-small) var(--spacing-xsmall) !important;
  background-color: var(--red-50) !important; 
  position: sticky;
  top: 0;
  z-index: 2;
  margin: var(--spacing-small) var(--spacing-xlarge) !important;
  border-radius: 5px;
}