.container {
  --header-height: 96px;
  --heading-height: 58px;
  --tabs-height: 36px;

  background-color: var(--white) !important;
  margin-top: 0 !important;
  overflow: hidden;

  .heading {
    align-items: center;
    padding: 0 var(--spacing-xlarge) !important;
    height: var(--heading-height);
    background-color: var(--grey-100);
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-bottom: 1px solid var(--grey-200);

    .path {
      align-items: center;

      .inputContainer {
        margin-left: var(--spacing-small) !important;
        margin-bottom: 0;

        input {
          padding: var(--spacing-xsmall) var(--spacing-small);
          height: 28px;
          width: auto;
        }
      }

      .refLink {
        font-weight: 600;
        border-radius: 4px;
        color: var(--primary-7);
        background: var(--primary-1);
        padding: 2px 8px;
      }
    }

    :global {
      .bp3-breadcrumb,
      .bp3-breadcrumb-current,
      .bp3-breadcrumbs-collapsed {
        white-space: nowrap !important;
        font-size: var(--typography-size, var(--font-size));
        font-weight: var(--typography-weight, normal);
        font-family: var(--font-family);
        color: var(--grey-900);
        line-height: var(--typography-line-height, var(--line-height));
      }

      .bp3-breadcrumbs > li::after {
        background: none;
        content: '/';
        color: var(--grey-900);
        background: none;
        text-align: center;
        height: 100%;
      }

      .bp3-breadcrumbs-collapsed {
        background: var(--grey-100);
      }
    }

    .breadcrumbItem {
      white-space: nowrap !important;
    }
  }

  .tabs {
    height: var(--tabs-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-50);
    --tab-height: 18px;

    .selectedView {
      height: var(--tab-height);

      > div {
        align-items: center;
        display: flex;
        height: var(--tab-height) !important;
        width: auto;
        padding: 0 var(--spacing-large);
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;

        &[class*='selected'] {
          background-color: var(--primary-9);
        }

        &:not([class*='selected']) {
          color: var(--primary-9);
        }
      }
    }
  }

  .editorContainer {
    padding-left: var(--spacing-medium) !important;
    overflow: hidden;

    height: calc(100vh - var(--header-height) - var(--heading-height) - var(--tabs-height));
  }
}
