.mainCtn {
  height: var(--page-height);
  background-color: var(--primary-bg) !important;

  .roleBadge {
    padding: var(--spacing-xsmall) 6px;
    border-radius: 4px;
    border: 1px solid var(--grey-200);
    background: var(--grey-50);
    width: max-content;
  }
}
