.noMachineText {
  font-size: var(--font-size-medium) !important;
  font-weight: 600 !important;
  line-height: var(--spacing-xlarge) !important;
  color: var(--grey-1000) !important;
}

.addMachineText {
  font-size: var(--font-size-small) !important;
  font-weight: 400 !important;
  line-height: var(--spacing-large) !important;
  color: var(--grey-500) !important;
  padding-bottom: var(--spacing-6) !important;
}

.addMachineBtn {
  width: fit-content !important;
}
