.main {
  min-height: var(--page-min-height, 100%);
  background-color: var(--white) !important;

  .noDataContainer > div {
    height: calc(100vh - var(--page-header-height, 64px) - 80px) !important;
  }

  .tabsContainer {
    min-height: calc(100vh - 153px);
    background-color: var(--primary-bg) !important;

    [role='tablist'] {
      background-color: var(--white) !important;
      padding-left: var(--spacing-medium);
      padding-right: var(--spacing-xlarge);
      border-bottom: 1px solid var(--grey-100);
      filter: drop-shadow(0px 0px 1px rgba(40, 41, 61, 0.08));
    }

    [role='tabpanel'] {
      margin-top: 0;
      background-color: var(--primary-bg) !important;
    }
  }
}

.changesContainer {
  padding: 0 var(--spacing-xlarge) var(--spacing-xlarge) !important;
}
