.main {
  min-height: var(--page-height);
  background-color: var(--primary-bg) !important;

  .table {
    .row {
      height: 80px;
      display: flex;
      justify-content: center;

      .title {
        font-weight: 600;
        display: flex;

        .convoIcon {
          padding-top: 1px !important;
        }
      }

      .convo {
        white-space: nowrap;
      }
    }
  }

  .titleRow {
    padding-left: var(--spacing-small);
    align-items: center;
  }
}

.state {
  font-weight: 600;
}
