html, body {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

section {
    padding: 60px;
}

footer {
    padding: 60px 30px;
}



.center {
    max-width:900px;
    margin:0px auto;
}

/*
 * Code
 */

code {
    text-align:left;
    background: #222;
    color: #FFF;
    margin: 0px auto;
    font-family: 'Source Code Pro';
    font-size: 13px;
    line-height: 18px;
    border-radius: 5px;
    padding: 30px 0px;
}

code div {
    white-space: pre;
    padding: 0px 30px;
}

code span.group {
    background: #333;
    display: block;
    padding: 5px 0px;
}

code span.c0 {
    color: #00E5FF;
}

code span.c1 {
    color: #FF8A80;
}

.code .center {
    text-align: center;
}

.code p {
    max-width:500px;
    text-align:center;
    margin:30px auto;
}

.code .grid {
    display: grid;
    grid-template-columns: 225px 450px 225px;
    grid-template-rows: auto auto auto;
}

.code .grid code {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0px;
}

.info {
    background: #EEE;
    margin-right: 20px;
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

.info:first-of-type {
    grid-column: 1;
    grid-row: 1;
    margin-top: 15px;
}

.info:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2;
    margin-right: 0px;
    margin-left: 20px;
}

.info:last-of-type {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 15px;
}

/*
 * Plugins
 */


.code.plugins .grid {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 112.5px 112.5px 112.5px 112.5px 450px;
    grid-template-rows: auto auto auto auto;
}

.code.plugins .grid code {
    grid-column: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: 0px;
}

.code.plugins .logo {
    margin-right: 20px;
    padding: 15px;
    border-radius: 50%; 
}

/*
 *
 */

nav{
    text-align: right;
    height: 60px;
    background:#293a41;
}

nav .center {
    display: flex;
    align-items: center;
    height: 60px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    flex: 1;
}

nav li {
    display: inline;
}

nav li a {
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    margin-left: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

nav .login {
    background:#00bfa6;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    -webkit-font-smoothing: unset;
    -moz-font-smoothing: unset;
}

nav svg {
    fill: #FFF;
    height: 40px;
}

/*
 * Header Section
 */

header {
    background-color: #293a41;
    color: #FFF;
    padding: 50px 20px;
    padding-bottom: 80px;
}



header .illustration {
    background-image: url("/static2/city-cloud.png");
    background-repeat: no-repeat;
    background-size: contain;
    float:right;
    height: 250px;
    padding: 20px;
    width: 400px;
}

header h1,
header h2 {
    max-width: 500px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

header h1 {
    font-size: 28px;
    line-height: 32px;
}

header h2 {
    margin-bottom: 50px;
    line-height: 20px;
    font-weight: normal;
    font-size: 16px;
    max-width: 400px;
    -webkit-font-smoothing: antialiased;
    color: rgba(255,255,255,0.8);
}

header a {
    color: #FFF;
}

header a.button {
    background: #00bfa6;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #00bfa6;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    transition: all .15s ease;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 10px;

}

header a.button.button-outline {
    color: #00bfa6;
    background: none;
    border: 1px solid #00bfa6;
}

header a.button:hover {
    transform: translateY(-1px);
}

/*
 * Codeblock
 */

div.logos {
    display: block;
    border-top: none;
    margin-top: 0px;
    text-align: left;
    white-space: unset;
    overflow: unset;
}

.logos .logo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
}

.logos .logo img {
    width: 32px;
    height: 32px;  
    margin: 0px; 
}

/*
 * VCS Section
 */ 

.vcs .center {
    text-align: center;
    padding: 60px 0px;
}

.vcs strong {
    font-size: 1.17em;
    font-weight: bold;
    text-align: center;
}

/*
 * Logo Section
 */

.logos {
    border-top: 1px solid #EEE;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    margin-top: 100px;
}

.logos img {
    margin: 0px 30px;
}

/*
 * Quote Sections
 */

.quote .center {
    display: grid;
    grid-template-columns: 110px auto;
}

.quote blockquote {
    margin: 0px;
    padding: 15px;
    font-size: 18px;
    line-height: 26px;
    grid-column: 2;
}

.quote img {
    grid-column: 1;
    padding-top: 5px;
    max-width: 75px;
}

.quote cite {
    grid-column: 2;
    padding-top: 15px;
    padding-left: 15px;
    display: block;
}



/*
 * 3-columns section
 */

.columns-2 .center {
    display: grid;
    grid-template-columns: auto 400px;
    grid-gap: 30px;
}

.columns-3 .center {
     display: grid;
     grid-template-columns: auto auto auto;
     grid-gap: 30px;
}

.placeholder {
    border: 1px solid #CCC;
    height: 100%;
}

/*
 * Cards
 */

.center.header  h2{
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

.cards .center div {
    font-size: 14px;
    border: 1px solid #EEE;
    border-radius: 5px;
    padding: 15px 30px;
    box-shadow: 0 5px 15px rgba(50,50,93,.05), 0 5px 5px rgba(0,0,0,.02);
}

.cards div h3 {
    font-size: 15px;
    line-height: 20px;
}


/*
 * Try Drone Today
 */

.try-drone-panel {
    background:#293a41;
    color: #FFF;
}

.try-drone-panel h3 {
    font-weight: normal;
}

.try-drone-panel a {
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    background: #00bfa6;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    transition: all .15s ease;
    text-transform: uppercase;
    font-size: 14px;
}

.try-drone-panel a:hover {
    transform: translateY(-1px);
}

.try-drone-panel small {
    font-style: italic;
    color: rgba(255,255,255,0.75);
}

/*
 * Thanks to Packet
 */

.thanks-packet {
    background-color: #eff3f5;
    padding: 0px;
    margin: 0px;
    padding-top: 40px;
}

.thanks-packet .center > div:first-of-type {
    height: 400px;
}

.thanks-packet svg {
    max-width: 300px;
    margin-top: 45px;
}

.thanks-packet .center > div:last-of-type {
    margin-top: 40px;
}

.thanks-packet p {
    font-size: 13px;
    line-height: 20px;
}

.thanks-packet em {
    font-weight: 600;
}

.thanks-packet a:visited,
.thanks-packet a {
    color: #0564d7;
}

.thanks-packet a.button {
    color: #00bfa6;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #00bfa6;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    transition: all .15s ease;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 10px;
}

.thanks-packet a.button:hover {
    transform: translateY(-1px);
}



footer {
    padding: 0px;
  }
  footer > div {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
  }
  footer section {
    margin-left: unset;
  }
  footer h3 {
    text-transform: uppercase;
    font-size: 13px;
    color: #455A64;
  }
  footer ul {
      margin: 0px;
      padding: 0px;
    margin-top: 40px;
    list-style: none;
  }
  footer ul li {
      
  }
  footer a {
    display: flex;
    align-content: center;
    font-size: 14px;
    margin: 10px 0px;
    color: #455A64;
    text-decoration: none;
  }
  footer svg {
    fill: #455A64;
    width: 14px;
    height: 14px;
    margin-right: 10px;
  }
  footer .logo {
    flex: 1;
  }
  @media (max-width: 920px) {
    header {
      padding: 30px 30px;
    }

    header .illustration {
        display: none;
    }
    nav {
        padding: 0px 30px;
    }
  }
  @media (max-width: 720px) {
    footer > div {
      display: flex;
      flex-direction: column;
    }
    footer .logo {
      flex: 1;
    }
    footer section {
      margin-left: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    footer h3 {
        margin-top: 30px;
    }
    footer ul {
      margin-left: 30px;
      margin-top: 0px;
    }

    nav a {
        display: none;
    }

    nav a.login {
        display: inline-block;
    }

    .thanks-packet.columns-2 {
        padding-top: 0px;
        margin-top: 0px;
    }

    .thanks-packet.columns-2 > .center {
        grid-template-columns: none;
        display: grid;
        grid-template-rows: auto 400px;
    }

    .thanks-packet .center > div:first-of-type {
        grid-row: 2;
    }
    .thanks-packet .center > div:last-of-type {
        grid-row: 1;
        padding: 0px 30px;
        padding-bottom:30px;
    }
    .thanks-packet .center > div:last-of-type > div {
        text-align: center;
        padding-top:20px;
    }

    .thanks-packet svg {
        display: none;
    }

    .columns-3.cards .center {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: none !important;
        grid-gap: 30px;
    }
  }