@mixin mono-font {
  font-family: var(--font-family-mono) !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-kerning: none;
  letter-spacing: 0;
  line-height: 20px;
  font-feature-settings: 'liga' 0, 'calt' 0;
  font-variation-settings: normal;
}

@mixin markdown-font {
  font-family: var(--font-family) !important;
  font-size: 13px !important;
}
