/*
 * This file defines global CSS variables used in Gitness.
 */
@mixin vars {
  --nav-menu-width: 232px;
  --nav-background: #f2f6fb;
  --page-background: #fbfcfd;

  --page-height: var(--page-min-height, max(100vh, 800px));
}
