.root {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

.container {
  box-shadow: var(--card-shadow);
}

.minWidth {
  min-width: 400px;
}

.input {
  margin-bottom: unset !important;
}
