.folderHeader {
  div[class*='TextInput'] {
    margin-bottom: 0 !important;
    margin-left: 0 !important;

    input {
      background: transparent !important;
      border: none;
    }
  }

  > div {
    align-items: center;
    padding-bottom: var(--spacing-xlarge) !important;
  }
}

.branchDropdown {
  background-color: var(--white);
}
