.main {
  min-height: var(--page-height);
  background-color: var(--primary-bg) !important;

  .layout {
    align-items: center;
  }
}

.withError {
  display: grid;
}

.nameContainer {
  display: flex !important;
  align-items: center !important;
}

.repoName {
  font-weight: 600 !important;
  font-size: var(--font-size-normal) !important;
  color: var(--grey-700) !important;
}

.desc {
  color: var(--grey-700) !important;
  font-size: var(--font-size-small) !important;
  font-style: normal !important;
  font-weight: 600 !important;
}

.avatar {
  margin: 0 0 0 -3px !important;
}

.author {
  color: var(--grey500) !important;
  font-size: var(--font-size-small) !important;
  font-weight: 500 !important;
}

.triggerLayout {
  align-items: center !important;
}

.spacer {
  width: 180px;
}

.statusIcon {
  align-self: center !important;
}
