<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Brad Rydzewski" />
		<title></title>

		<link rel="shortcut icon" href="/static/images/favicon.png" />
		<link rel="stylesheet" href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Orbitron" />
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans+Mono" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/static/styles/drone.css" media="all" type="text/css" />
	</head>
	<body>
		<header>
			<a href="/" class="header-brand">Drone</a>
			{{ if .User }}
			<a href="/account/profile" class="header-user">
				<img src="//gravatar.com/avatar/{{ .User.Gravatar }}?s=64&d=mm" class="header-avatar" />
				<span class="header-username">{{ .User.Login}}</span>
			</a>
			{{ end }}
		</header>
		<div ng-view></div>


			<!-- Left Menu -->
			<!--
			<div id="menu" style="display:none;">
				{{ if .User }}
				<div class="vcard pure-g">
					<div class="pure-u-1-3">
						<img src="https://gravatar.com/avatar/{{ .User.Gravatar }}?s=64&d=mm" class="vcard-gravatar" />
					</div>
					<div class="pure-u-2-3">
						<div class="vcard-name">{{ .User.Login}}</div>
						<div class="vcard-remote">{{ .User.Remote }}</div>
					</div>
				</div>
				<div class="pure-menu pure-menu-open" nav-menu>
					<ul>
						<li>
							<a href="/">
								<i class="fa fa-rss"></i> Feed
							</a>
						</li>
						<li>
							<a href="/repos">
								<i class="fa fa-git"></i> Repos
							</a>
						</li>
						<li>
							<a href="https://drone.readthedocs.org" target="_blank">
								<i class="fa fa-file"></i>  Docs
							</a>
						</li>
						{{ if .User.Admin }}
						<li>
							<a href="/admin/settings">
								<i class="fa fa-cog"></i> System
							</a>
						</li>
						<li>
							<a href="/admin/users">
								<i class="fa fa-user"></i> Users
							</a>
						</li>
						<li class="hide"><a href="/admin/workers">Workers</a></li>
						<li class="hide"><a href="/admin/queue">Queue</a></li>
						{{ end }}
						<li>
							<a href="/logout" target="_self">
								<i class="fa fa-sign-out"></i> Logout
							</a>
						</li>
					</ul>
				</div>
				{{ else }}
				<a class="brand" href="/">drone.io</a>
				<div class="alert-login">
					You are not currently authenticated.
				</div>
				<div class="pure-menu pure-menu-open">
					<ul>
						<li><a target="_self" href="/login/github.com">Github Login</a></li>
						<li><a target="_self" href="/login/bitbucket.org">Bitbucket Login</a></li>
						<li><a href="https://drone.readthedocs.org" target="_blank">Help</a></li>
					</ul>
				</div>
				{{ end }}
			</div>

			<div id="page" xng-xview></div>
		</div>
-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.8/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.8/angular-route.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.8/angular-resource.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>

		<!-- main javascript application -->
		<script src="/static/scripts/vendor/easypiechart.min.js"></script>
		<script src="/static/scripts/app.js"></script>
		<script src="/static/scripts/controllers.js"></script>
		<script src="/static/scripts/filters.js"></script>
	</body>
</html>