<!DOCTYPE html>
<html>
	<head>
		<meta charset="{{"utf-8"}}" />
		<meta name="{{"author"}}" content="{{"Brad Rydzewski"}}" />
		<link rel="{{"shortcut icon"}}" href="{{"/static/images/favicon.png"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//yui.yahooapis.com/pure/0.4.2/pure-min.css"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//fonts.googleapis.com/css?family=Open+Sans"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//fonts.googleapis.com/css?family=Orbitron"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//fonts.googleapis.com/css?family=Droid+Sans+Mono"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"}}" />
		<link rel="{{"stylesheet"}}" href="{{"/static/styles/drone.css"}}" />
		<title>{{$__amber_1 := .Repo.Name}}{{$__amber_2 := .Commit.Sha}}{{$__amber_1}} · {{$__amber_2}}
		</title>
	</head>
	<body>
		<header>
			<a class="{{"header-brand"}}" href="{{"/"}}">Drone</a>{{if .User}}
			<a href="{{"/account/profile"}}" class="{{"header-user"}}">{{$__amber_3 := .User.Gravatar}}{{$__amber_4 := __amber_add "//secure.gravatar.com/avatar/" $__amber_3}}{{$__amber_5 := __amber_add $__amber_4 "?s=64"}}
				<img class="{{"header-avatar"}}" src="{{$__amber_5}}" />
				<span class="{{"header-username"}}">{{$__amber_6 := .User.Login}}{{$__amber_6}}</span>
			</a>{{else}}
			<a href="{{"/login"}}" class="{{"header-login"}}">Login</a>{{end}}
		</header>
		<div>
			<article class="{{"pure-g"}}">
				<header class="{{"pure-u-1"}}">
					<h1>
						<span>{{$__amber_7 := .Repo.Owner}}{{$__amber_7}}</span>
						<span>/</span>{{$__amber_8 := .Repo.Name}}{{$__amber_9 := .Repo.Owner}}{{$__amber_10 := .Repo.Host}}{{$__amber_11 := __amber_add "/" $__amber_10}}{{$__amber_12 := __amber_add $__amber_11 "/"}}{{$__amber_13 := __amber_add $__amber_12 $__amber_9}}{{$__amber_14 := __amber_add $__amber_13 "/"}}{{$__amber_15 := __amber_add $__amber_14 $__amber_8}}
						<a href="{{$__amber_15}}">{{$__amber_16 := .Repo.Name}}{{$__amber_16}}</a>
						<span>/</span>
						<a href="{{"#"}}">{{$__amber_17 := .Commit.ShaShort}}{{$__amber_17}}</a>
					</h1>{{$__amber_18 := .Repo.Name}}{{$__amber_19 := .Repo.Owner}}{{$__amber_20 := .Repo.Host}}{{$__amber_21 := __amber_add "/" $__amber_20}}{{$__amber_22 := __amber_add $__amber_21 "/"}}{{$__amber_23 := __amber_add $__amber_22 $__amber_19}}{{$__amber_24 := __amber_add $__amber_23 "/"}}{{$__amber_25 := __amber_add $__amber_24 $__amber_18}}
					<a class="{{"pure-button"}}" href="{{$__amber_25}}">
						<i class="{{"fa"}} {{"fa-dashboard"}}"></i>
					</a>
				</header>
				<section class="{{"pure-u-3-4"}}">{{$__amber_26 := .Commit.Status}}
					<div class="{{"alert"}}" data-status="{{$__amber_26}}">
						commit
						<u>{{$__amber_27 := .Commit.ShaShort}}{{$__amber_27}}</u>
						to
						<u>{{$__amber_28 := .Commit.Branch}}{{$__amber_28}}</u>
						branch
						<div class="{{"progress"}}"></div>
					</div>{{$__amber_29 := .Commit.Status}}
					<pre id="{{"stdout"}}" data-status="{{$__amber_29}}"></pre>
				</section>
				<div class="{{"pure-u-1-4"}} {{"sticky"}}">
					<section class="{{"pure-g"}} {{"build"}}">
						<div class="{{"pure-u-1"}}">{{$__amber_30 := .Commit.Gravatar}}{{$__amber_31 := __amber_add "//secure.gravatar.com/avatar/" $__amber_30}}{{$__amber_32 := __amber_add $__amber_31 "?s=64&d=identicon"}}
							<img src="{{$__amber_32}}" style="{{"border-radius:50%;float:left;margin-right:10px;"}}" />
							<header>
								<h3>{{$__amber_33 := .Commit.ShaShort}}{{$__amber_33}}</h3>
								<h4>{{$__amber_34 := .Commit.Branch}}{{$__amber_34}}</h4>
							</header>
							<div>
								<span>finished:</span>{{$__amber_35 := .Commit.FinishedString}}
								<span class="{{"timeago"}}" title="{{$__amber_35}}"></span>
							</div>
							<div>
								<span>duration:</span>
								<span>{{$__amber_36 := .Commit.Duration}}{{$__amber_36}} seconds</span>
							</div>
							<div>
								<span>message:</span>
								<p>{{$__amber_37 := .Commit.Message}}{{$__amber_37}}</p>
							</div>
						</div>
					</section>
				</div>
			</article>
		</div>
		<script src="{{"//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"}}"></script>
		<script src="{{"//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.js"}}"></script>
		<script src="{{"/static/scripts/main.js"}}"></script>
		<script>
			$(document).ready(function() {
				$(".timeago").timeago();
			});
		</script>{{$__amber_38 := .Build.Status}}{{$__amber_39 := __amber_eql $__amber_38 "Pending"}}{{$__amber_40 := .Build.Status}}{{$__amber_41 := __amber_eql $__amber_40 "Started"}}{{$__amber_42 := or $__amber_41 $__amber_39}}{{if $__amber_42}}
		<script>
			$(document).ready(function() {
				var commitUpdates = new Drone.CommitUpdates('/feed?token='+ {{.Token}});
				var outputBox = document.getElementById('stdout');
				commitUpdates.startOutput(outputBox);
			
				$("#follow").on("click", function(e) {
					e.preventDefault();
			
					if(commitUpdates.autoFollow) {
						commitUpdates.autoFollow = false;
						$(this).text("Follow");
					} else {
						commitUpdates.autoFollow = true;
						$(this).text("Stop following");
					}
				});
			});
		</script>{{else}}
		<script>
			{{$__amber_43 := .Repo.Host}}{{$__amber_44 := .Repo.Owner}}{{$__amber_45 := .Repo.Name}}{{$__amber_46 := .Commit.Branch}}{{$__amber_47 := .Commit.Sha}}$.get("/v1/repos/"+{{$__amber_43}}+"/"+{{$__amber_44}}+"/"+{{$__amber_45}}+"/branches/"+{{$__amber_46}}+"/commits/"+{{$__amber_47}}+"/console", function( data ) {
				var lineFormatter = new Drone.LineFormatter();
				$( "#stdout" ).html(lineFormatter.format(data));
			});
		</script>{{end}}
	</body>
</html>
