<!DOCTYPE html>
<html>
	<head>
		<meta charset="{{"utf-8"}}" />
		<meta name="{{"author"}}" content="{{"Brad Rydzewski"}}" />
		<link rel="{{"shortcut icon"}}" href="{{"/static/images/favicon.png"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//yui.yahooapis.com/pure/0.4.2/pure-min.css"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//fonts.googleapis.com/css?family=Open+Sans"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//fonts.googleapis.com/css?family=Orbitron"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//fonts.googleapis.com/css?family=Droid+Sans+Mono"}}" />
		<link rel="{{"stylesheet"}}" href="{{"//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"}}" />
		<link rel="{{"stylesheet"}}" href="{{"/static/styles/drone.css"}}" />
		<title>Build Feed
		</title>
	</head>
	<body>
		<header>
			<a class="{{"header-brand"}}" href="{{"/"}}">Drone</a>{{if .User}}
			<a href="{{"/account/profile"}}" class="{{"header-user"}}">{{$__amber_1 := .User.Gravatar}}{{$__amber_2 := __amber_add "//secure.gravatar.com/avatar/" $__amber_1}}{{$__amber_3 := __amber_add $__amber_2 "?s=64"}}
				<img class="{{"header-avatar"}}" src="{{$__amber_3}}" />
				<span class="{{"header-username"}}">{{$__amber_4 := .User.Login}}{{$__amber_4}}</span>
			</a>{{else}}
			<a href="{{"/login"}}" class="{{"header-login"}}">Login</a>{{end}}
		</header>
		<div>
			<article>
				<header>
					<h1>Build Feed</h1>
					<a href="{{"/account/repos"}}" class="{{"pure-button"}}">
						<i class="{{"fa"}} {{"fa-plus"}}"></i>
					</a>
				</header>
				<section>{{if .Feed}}
					<div class="{{"activity-list"}}">{{range $commit := .Feed}}{{$__amber_5 := __amber_add "/" .Remote}}{{$__amber_6 := __amber_add $__amber_5 "/"}}{{$__amber_7 := __amber_add $__amber_6 .Owner}}{{$__amber_8 := __amber_add $__amber_7 "/"}}{{$__amber_9 := __amber_add $__amber_8 .Name}}{{$__amber_10 := __amber_add $__amber_9 "/branch/"}}{{$__amber_11 := __amber_add $__amber_10 .Branch}}{{$__amber_12 := __amber_add $__amber_11 "/commit/"}}{{$__amber_13 := __amber_add $__amber_12 .Sha}}
						<a class="{{"pure-g"}} {{"activity-item"}}" data-status="{{.Status}}" href="{{$__amber_13}}">
							<div class="{{"pure-u-1-8"}}">{{$__amber_14 := __amber_add "https://secure.gravatar.com/avatar/" .Gravatar}}{{$__amber_15 := __amber_add $__amber_14 "?s=48&d=identicon"}}
								<img src="{{$__amber_15}}" />
							</div>
							<div class="{{"pure-u-3-4"}}">
								<h2>
									<span>{{.Owner}}</span>
									<span class="{{"divider"}}">/</span>
									<span>{{.Name}}</span>
								</h2>
								<p class="{{"activity-message"}}">{{.Message}}</p>
								<span class="{{"activity-sha"}}">{{.ShaShort}}</span>
								<span class="{{"activity-branch"}}">{{.Branch}}</span>
								<span class="{{"activity-date"}} {{"timeago"}}" title="{{.FinishedString}}"></span>
							</div>
						</a>{{end}}
					</div>{{else}}
					<div class="{{"alert"}} {{"alert-info"}}">
						Your build feed is empty.
						<a href="{{"/account/repos"}}">Setup</a>
						your repositories to get started.
					</div>{{end}}
				</section>
			</article>
		</div>
		<script src="{{"//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"}}"></script>
		<script src="{{"//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.js"}}"></script>
		<script src="{{"/static/scripts/main.js"}}"></script>
		<script>
			$(document).ready(function() {
				$(".timeago").timeago();
			});
		</script>
	</body>
</html>
