.mainCtn {
  min-height: var(--page-min-height, 100%);
  background-color: var(--primary-bg) !important;

  .pageCtn {
    padding: var(--spacing-xxlarge) var(--spacing-xlarge) !important;

    .passwordCard {
      width: 100%;
    }
  }
}
