.root {
  display: flex;
  flex-direction: column;
  flex: 1 auto;

  .filterTab {
    text-align: center;
    padding: 21px;
    border-bottom: 3px solid transparent;

    &.selected {
      border-bottom-color: var(--primary-7);
    }

    &:hover {
      text-decoration: none;
    }
  }

  .header {
    padding: var(--spacing-large) var(--spacing-xlarge) !important;
    border-bottom: 1px solid var(--grey-200);
    background: var(--white) !important;

    .headerLayout {
      align-items: center;
      justify-content: flex-end;
    }
  }
}
