.main {
  --stage-title-height: 46px;
  --stage-detail-section-height: 40px;

  background-color: var(--white) !important;
  min-height: calc(var(--page-min-height) - 156px);
  height: calc(100vh - 156px);
  overflow: hidden;

  > div {
    position: relative !important;

    .menu,
    .content {
      width: 100%;
      height: 100%;
    }

    .menu {
      .menuItem {
        border-bottom: 1px solid var(--grey-100);

        .layout {
          display: flex;
          align-items: center;
          min-height: var(--stage-title-height);
          padding: 0 var(--spacing-medium) 0 var(--spacing-xlarge);

          &.expanded {
            .chevron {
              transform: rotate(90deg);
            }
          }

          .chevron {
            transition: transform 0.2s ease;
          }

          &:hover,
          &.selected {
            background-color: var(--primary-1);
          }

          &.selected .uid {
            color: var(--primary-7) !important;
          }

          .uid {
            color: var(--grey-700) !important;
            font-weight: 600 !important;
            font-size: 13px !important;
          }
        }

        .subMenu {
          cursor: pointer;
          height: var(--stage-detail-section-height);
          align-items: center;
          padding: 0;
          padding-left: var(--spacing-medium);
          margin-left: 32px;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;

          &:hover,
          &.selected {
            background-color: var(--grey-100);

            .text {
              color: var(--primary-7);
            }
          }

          &.active {
            background: var(--primary-2);

            .text {
              font-weight: 600;
              color: var(--primary-7);
            }
          }

          &:last-of-type {
            margin-bottom: var(--spacing-small);
          }
        }
      }
    }

    .content {
      background-color: var(--black);

      &.markdown {
        :global {
          .wmde-markdown {
            background-color: transparent !important;
          }
        }

        overflow: auto;
        padding: 0 var(--spacing-large) var(--spacing-medium);
      }

      &.terminal {
        overflow: hidden;

        :global {
          .terminal.xterm {
            padding: var(--spacing-medium);
          }

          // .terminal-container {
          //   overflow: hidden;
          // }

          // .xterm .xterm-viewport {
          //   /* see : https://github.com/xtermjs/xterm.js/issues/3564#issuecomment-1004417440 */
          //   width: initial !important;
          // }
        }
      }

      .header {
        padding-top: var(--spacing-medium);
        position: sticky;
        top: 0;
        background-color: var(--black);

        .headerLayout {
          border-bottom: 1px solid var(--grey-800);
          padding-bottom: var(--spacing-medium);
          align-items: center;
        }
      }
    }
  }

  :global {
    .Resizer {
      background-color: var(--grey-300);
      opacity: 0.2;
      z-index: 1;
      box-sizing: border-box;
      background-clip: padding-box;
    }

    .Resizer:hover {
      transition: all 2s ease;
    }

    .Resizer.horizontal {
      margin: -5px 0;
      border-top: 5px solid rgba(255, 255, 255, 0);
      border-bottom: 5px solid rgba(255, 255, 255, 0);
      cursor: row-resize;
    }

    .Resizer.horizontal:hover {
      border-top: 5px solid rgba(0, 0, 0, 0.5);
      border-bottom: 5px solid rgba(0, 0, 0, 0.5);
    }

    .Resizer.vertical {
      width: 11px;
      margin: 0 -5px;
      border-left: 5px solid rgba(255, 255, 255, 0);
      border-right: 5px solid rgba(255, 255, 255, 0);
      cursor: col-resize;
    }

    .Resizer.vertical:hover {
      border-left: 5px solid rgba(0, 0, 0, 0.5);
      border-right: 5px solid rgba(0, 0, 0, 0.5);
    }

    .Resizer.disabled {
      cursor: not-allowed;
    }

    .Resizer.disabled:hover {
      border-color: transparent;
    }
  }
}

.status {
  align-self: center;

  &.invert {
    filter: invert(100%);
  }
}

.noShrink {
  flex-shrink: inherit;
}
