.container {
  .table {
    background-color: var(--white) !important;

    [class*='TableV2--header'] {
      [class*='variation-table-headers'] {
        text-transform: none;
        color: var(--grey-400);
        font-weight: 500;
        font-size: 13px;
      }
    }

    .row {
      justify-content: center;
      padding-top: 0;
      padding-bottom: 0px;
      height: 40px;
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
      overflow: hidden;
      border-radius: 0;
      margin-bottom: 0;

      .rowText {
        font-size: 13px;
        font-weight: 400;

        > div[class*='Avatar'] {
          margin-left: 0 !important;
          cursor: default !important;
        }
      }
    }
  }

  .label {
    svg path {
      fill: var(--grey-300);
    }
  }
}

.refreshIcon {
  padding-left: var(--spacing-xsmall) !important;
  padding-right: var(--spacing-xsmall);
}