.latestCommit {
  display: flex;
  align-items: center;
  background-color: var(--primary-1) !important;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-large) var(--spacing-small) var(--spacing-medium) !important;
  box-shadow: var(--elevation-3);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  > div[class*='Avatar'] {
    margin: 0 !important;
    cursor: default !important;
  }

  &.standalone {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 4px;
  }

  &.forFile {
    padding-right: var(--spacing-small) !important;
  }

  .shaBtn span {
    font-size: var(--font-size-small) !important;
  }

  .commitLink {
    font-weight: 500 !important;
    font-size: var(--font-size-small) !important;
    color: var(--primary-8);
  }

  .time {
    flex-shrink: inherit;
  }
}
