.banner {
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);

  &.expiryCountdown {
    background: var(--orange-50) !important;
  }

  &.expired {
    background: var(--red-50) !important;
  }

  .bannerIcon {
    margin-right: var(--spacing-large) !important;
  }
}
