.main {
  padding-bottom: 0 !important;

  div[class*='TextInput'] {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
  }

  > div {
    align-items: center;
  }

  .input {
    margin-bottom: 0 !important;

    span[data-icon],
    span[icon] {
      margin-top: 10px !important;
    }
  }
}

.branchDropdown {
  background-color: var(--white);
}
