.main {
  --color-border: var(--grey-200);
  --box-radius: 5px;

  background-color: var(--grey-50);
  border-bottom-left-radius: var(--box-radius);
  border-bottom-right-radius: var(--box-radius);
  position: relative;

  &:focus-within {
    --color-border: var(--primary-7);
  }

  &.withPreview {
    --color-border: var(--grey-200);
  }

  > div:first-child {
    padding-top: 0 !important;
  }

  .tabs {
    :global {
      .bp3-tab-list {
        border: none;
        background-color: transparent !important;
        position: absolute;
        top: -4px;
        right: 25px;
        z-index: 2;
        padding: 0;

        .bp3-tab {
          margin: 0 !important;
          padding: 6px 10px !important;
          border-bottom: 1px solid transparent !important;

          &[aria-selected='true'] {
            background-color: var(--white) !important;
            border-top: 1px solid var(--color-border);
            border-left: 1px solid var(--color-border);
            border-right: 1px solid var(--color-border);
            border-top-left-radius: var(--box-radius);
            border-top-right-radius: var(--box-radius);
          }

          &:not([aria-selected='true']) {
            border-bottom: 1px solid transparent !important;
          }
        }

        .bp3-tab-indicator-wrapper {
          display: none;
        }
      }

      .bp3-tab {
        font-size: var(--font-size-normal);
        line-height: 19px;
        color: var(--grey-700);
      }

      .bp3-tab[aria-selected='true'] {
        color: var(--grey-900);
        font-weight: 600;
      }

      .bp3-tab[aria-disabled='true'] {
        opacity: 50%;
        cursor: not-allowed;
      }

      .bp3-tab-panel {
        margin-top: 0;
      }
    }
  }

  .preview {
    background-color: var(--white);
    margin-top: 28px !important;
    border: 1px solid var(--color-border) !important;
    border-radius: var(--box-radius);
    max-height: 400px;
    overflow: auto;

    :global {
      .wmde-markdown .anchor {
        display: none;
      }
    }
  }

  .markdownEditor {
    :global {
      .cm-editor .cm-line {
        &,
        * {
          font-family: var(--font-family);
          font-size: 13px;
        }
      }

      .md-editor {
        background-color: transparent !important;
        box-shadow: none !important;

        .md-editor-content {
          border: 1px solid var(--color-border) !important;
          border-radius: var(--box-radius);
        }
      }

      .md-editor-toolbar-warp,
      .md-editor-toolbar-warp:not(.md-editor-toolbar-bottom) {
        border-bottom: none !important;
      }

      .md-editor-preview {
        display: none;
      }

      .md-editor-toolbar {
        transform: translateY(-5px);
      }

      .md-editor-content {
        padding: var(--spacing-small);
        background-color: var(--white);
        height: var(--editor-height, auto);
        min-height: var(--editor-height, auto);
        max-height: var(--max-editor-height, var(--editor-height, auto));

        .ͼ1.cm-editor.cm-focused {
          outline: none !important;
        }
      }

      .cm-content {
        min-height: 46px;
      }
    }
  }
}
