.main {
  --color-border: var(--grey-200);

  background-color: var(--grey-50);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;

  &:focus-within {
    --color-border: var(--primary-7);
  }

  &.withPreview {
    --color-border: var(--grey-200);
  }

  > div:first-child {
    padding-top: 0 !important;
  }

  .tabs {
    :global {
      .bp3-tab-list {
        border: none;
        background-color: transparent !important;
        position: absolute;
        top: -4px;
        right: 25px;
        z-index: 2;
        padding: 0;

        .bp3-tab {
          margin: 0 !important;
          padding: 6px 10px !important;
          border-bottom: 1px solid transparent;

          &[aria-selected='true'] {
            background-color: var(--white) !important;
            border-top: 1px solid var(--color-border);
            border-left: 1px solid var(--color-border);
            border-right: 1px solid var(--color-border);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          &:not([aria-selected='true']) {
            border-bottom: 1px solid transparent;
          }
        }

        .bp3-tab-indicator-wrapper {
          display: none;
        }
      }
    }
  }

  .preview {
    background-color: var(--white);
    margin-top: 28px !important;
    border: 1px solid var(--color-border) !important;
    border-radius: 5px;
  }

  .markdownEditor {
    :global {
      .md-editor {
        background-color: transparent !important;
        box-shadow: none !important;

        .md-editor-content {
          border: 1px solid var(--color-border) !important;
          border-radius: 5px;
        }
      }

      .md-editor-toolbar-warp,
      .md-editor-toolbar-warp:not(.md-editor-toolbar-bottom) {
        border-bottom: none !important;
      }

      .md-editor-preview {
        display: none;
      }

      .md-editor-toolbar {
        transform: translateY(-5px);
      }

      .md-editor-content {
        padding: var(--spacing-small);
        background-color: var(--white);

        .ͼ1.cm-editor.cm-focused {
          outline: none !important;
        }
      }

      .cm-content {
        min-height: 46px;
      }
    }
  }
}
