.main {
  min-height: var(--page-height);
  background-color: var(--primary-bg) !important;

  .layout {
    align-items: center;
  }
}

.withError {
  display: grid;
}

.nameContainer {
  position: relative;

  .name {
    flex-grow: 1;
    align-items: baseline !important;
    width: calc(100% - 100px) !important;

    > span {
      width: 100%;
      > span {
        width: 100%;
      }
    }

    & + span:last-of-type {
      align-self: center;
    }
  }

  .pinned {
    transform: rotate(-90deg);
    position: absolute;
    top: 7px;
    left: -43px;
    font-size: var(--font-size-xsmall) !important;
    padding: 6px 14px;
  }

  .number {
    color: var(--grey-400) !important;
    font-size: var(--font-size-normal) !important;
    font-weight: 500 !important;
  }

  .desc {
    color: var(--grey-800) !important;
    font-size: var(--font-size-normal) !important;
    font-weight: 600 !important;
  }
}
