<!--   <button ng-if="build.status !== 'pending' && build.status !== 'running'" ng-click="restart()">Restart</button>
  <button ng-if="build.status === 'pending' || build.status === 'running'" ng-click="cancel()">Cancel</button>
   -->
    <main class="flex">
        <aside>
            <div>
                <div class="build-section">
                    <div class="status"><i class="material-icons">close</i></div><!--remove-->
                    <div class="build-summary">
                      <h2>{{ build.head_commit.message }}</h2>
                      <p><em>{{ build.head_commit.author.login }}</em> pushed to <em>{{ build.head_commit.branch }}</em> {{ build.started_at | fromNow }}</p>
                    </div>
                </div>

                <div class="list job-list">
                    <a ng-repeat="job in build.jobs" ng-href="{{ repo.full_name }}/{{ build.number }}/{{ job.number }}">
                        <div>
                            <div class="status {{ job.status }}">
                                <i class="material-icons">check</i>
                            </div>
                        </div>
                        <div>{{ job.number }}</div>
                        <div>
                            <div class="param" ng-repeat="(key, value) in job.environment">
                              {{ key.toUpperCase() }}={{ value }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </aside>

        <article class="console">

            <div class="button-tail" ng-if="build.status === 'running'" ng-click="tail()">
                <i class="material-icons">expand_more</i>
            </div>

            <pre id="term"></pre>
        </article>
    </main>