<!--   <button ng-if="build.status !== 'pending' && build.status !== 'running'" ng-click="restart()">Restart</button>
  <button ng-if="build.status === 'pending' || build.status === 'running'" ng-click="cancel()">Cancel</button>
   -->
    <main class="flex">
        <aside>
            <div>
                <div class="build-section">
                    <div class="status"><i class="material-icons">close</i></div><!--remove-->
                    <div class="build-summary">
                      <h2><small class="status {{build.status}}">{{ build.status }}</small>{{ build.head_commit.message }}</h2>
                      <p><em>{{ build.head_commit.author.login }}</em> pushed to <em>{{ build.head_commit.branch }}</em> {{ build.started_at | fromNow }}</p>
                    </div>
                </div>

                <div ng-class="{'list':true, 'job-list':true, 'matrix-list': build.jobs && build.jobs.length > 1 }">
                    <a ng-repeat="job in build.jobs" ng-href="{{ repo.full_name }}/{{ build.number }}/{{ job.number }}" ng-class="{'active': job.number == step }">
                        <div>
                            <div class="status {{ job.status }} status-small">
                              <i class="material-icons">{{ job.status | icon }}</i>
                            </div>
                        </div>
                        <div>{{ job.number }}</div>
                        <div>
                            <div class="param" ng-repeat="(key, value) in job.environment">
                              {{ key.toUpperCase() }}={{ value }}
                            </div>
                            <div class="meta-group" ng-if="job.status !== 'pending' && job.status !== 'running'">
                                <div class="meta">finished {{ job.started_at | fromNow }}</div>
                                <div class="meta">duration of {{ job.finished_at - job.started_at | toDuration }}</div>
                                <div class="meta">with exit code {{ job.exit_code }}</div>
                            </div>
                            <div class="meta-group" ng-if="job.status === 'running'">
                                <div class="meta">started {{ job.started_at | fromNow }}</div>
                            </div>
                            <div class="meta-group" ng-if="job.status === 'pending'">
                                <div class="meta">pending execution</div>
                            </div>
                        </div>
                    </a>
                </div>

                <button ng-if="build.status !== 'pending' && build.status !== 'running'" ng-click="restart()" style="display:none;">Restart</button>
            </div>
        </aside>

        <article class="console">

            <div class="button-tail" ng-if="build.status === 'running'" ng-click="tail()">
                <i class="material-icons">expand_more</i>
            </div>

            <pre id="term"></pre>
        </article>
    </main>
