<div class="breadcrumb"  style="position:relative;top:0px;">
	<a ng-href="/{{ repo.full_name }}" class="icon icon-home">
	  <i class="material-icons md-18">home</i>
	</a>
	<a ng-href="/{{ repo.full_name }}">{{ repo.owner }} / {{ repo.name }}</a>
	<span class="spacer"></span>
	<a ng-href="#">{{ build.number }}</a>
</div>

<div class="menu">
	<a href="settings.html" class="icon icon-settings"></a>
	<a ng-href="/{{ repo.full_name }}/edit" class="nav-item settings float-right"></a>
	<button ng-click="watch(repo)"   ng-if="!repo.starred" class="nav-item star float-right"></button>
	<button ng-click="unwatch(repo)" ng-if="repo.starred"  class="nav-item unstar float-right"></button>
</div>