.menuHeading {
  padding: var(--spacing-3) var(--spacing-4) !important;
  font-size: var(--font-size-small) !important;
}

.menuContainer .bp3-menu > li {
  padding: var(--spacing-xsmall) !important;
}

.menuLabel {
  font-size: var(--font-size-normal) !important;
}
