.wrapper {
  padding-top: 0 !important;
}

.header {
  position: sticky;
  top: 0;
  padding: var(--spacing-medium) 0 !important;
  z-index: 2;

  &.stickied {
    background-color: var(--primary-bg) !important;
  }
}

.diffStatsLabel {
  font-size: var(--font-size-small) !important;
  font-weight: 600 !important;
  color: var(--grey-700) !important;
}

.main {
  border-radius: 5px;

  // This is buggy, especially when scrolling
  // @see https://github.com/rtfpessoa/diff2html/issues/99
  &.enableDiffLineBreaks {
    :global {
      .d2h-code-line,
      .d2h-code-line-ctn {
        white-space: pre-wrap !important;
      }

      .d2h-code-line,
      .d2h-code-side-line,
      .d2h-code-line-ctn {
        width: revert !important;
      }
    }
  }
}

.container {
  background-color: var(--primary-bg) !important;
}

.hideBtn {
  display: none;
}

.refreshIcon {
  padding-left: var(--spacing-xsmall) !important;
  padding-right: var(--spacing-xsmall);
}

.repeatBtn {
  margin-left: var(--spacing-xsmall) !important;
}
