.wrapper {
  padding-top: 0 !important;
}

.header {
  position: sticky;
  top: 0;
  padding: var(--spacing-medium) 0 !important;
  z-index: 2;

  &.stickied {
    background-color: var(--primary-bg) !important;
  }
}

.diffStatsLabel {
  font-size: var(--font-size-small) !important;
  font-weight: 600 !important;
  color: var(--grey-700) !important;
}

.main {
  border-radius: 5px;

  // This is buggy, especially when scrolling
  // @see https://github.com/rtfpessoa/diff2html/issues/99
  &.enableDiffLineBreaks {
    :global {
      .d2h-code-line,
      .d2h-code-line-ctn {
        white-space: pre-wrap !important;
      }

      .d2h-code-line,
      .d2h-code-side-line,
      .d2h-code-line-ctn {
        width: revert !important;
      }
    }
  }
}

.container {
  background-color: var(--primary-bg) !important;
}

.hideBtn {
  display: none;
}

.refreshIcon {
  padding-left: var(--spacing-xsmall) !important;
  padding-right: var(--spacing-xsmall);
}

.repeatBtn {
  margin-left: var(--spacing-xsmall) !important;
}

.popover {
  transform: translateY(5px) !important;

  .menuItem {
    strong {
      display: inline-block;
      margin-left: 10px;
    }

    p {
      font-size: 12px;
      padding-left: 27px;
      line-height: 16px;
      margin: 5px 0;
      max-width: 320px;
    }
  }
  .menuReviewItem {
    &:hover {
      p {
        color: var(--white) !important;
      }

      svg path {
        fill: var(--white) !important;
      }
    }

    .reviewIcon {
      margin-top: 2px;
    }

    strong {
      display: inline-block;
      margin-left: 10px;
    }

    p {
      font-size: 12px;
      padding-left: var(--spacing-small);
      line-height: 16px;
      max-width: 320px;
    }
  }
}

.reviewButton {
  &.hide {
    visibility: hidden;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
