.main {
  &,
  .layout {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    padding-left: var(--spacing-small) !important;
    margin-bottom: 0 !important;

    &.spinnerOnRight {
      padding-left: 0 !important;
      padding-right: var(--spacing-small) !important;
    }

    .input {
      span[data-icon],
      span[icon] {
        margin-top: 10px !important;
      }
    }
  }
}
