.stepLayout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.loading {
  margin-left: var(--spacing-xxxlarge) !important;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.timeoutIcon {
  svg {
    g {
      circle {
        fill: black !important;
      }
      path {
        fill: white !important;
      }
    }
  }
}

.time {
  user-select: none !important;
}
