.main {
  max-width: 900px;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  background: var(--white) !important;

  .box {
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 4px;

    :global {
      .cm-editor .cm-line {
        &,
        * {
          font-family: var(--font-family);
          font-size: 13px;
        }
      }

      .md-editor-preview {
        display: none;
      }

      .md-editor,
      .md-editor-toolbar-warp {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      .md-editor-content {
        padding: var(--spacing-small) var(--spacing-xsmall);
        background-color: var(--white);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        .ͼ1.cm-editor.cm-focused {
          outline: none !important;
        }
      }

      .cm-content {
        min-height: 46px;
      }

      // .d2h-code-line,
      // .d2h-code-line-ctn {
      //   white-space: pre-wrap;
      // }
    }

    .boxLayout {
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    }
  }

  .viewer {
    padding-bottom: var(--spacing-xsmall) !important;

    :global {
      .wmde-markdown .anchor {
        display: none;
      }
    }
  }

  .editor {
    background-color: var(--grey-50);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 1px solid var(--grey-100);

    > div:first-child {
      padding-top: 0 !important;
    }

    [role='tablist'] {
      background: none !important;
    }

    .markdownEditor {
      :global {
        .md-editor {
          --color-border-shadow: 0 0 0 1px rgb(178 178 178 / 10%), 0 0 0 rgb(223 223 223 / 0%),
            0 1px 1px rgb(104 109 112 / 20%);

          &:focus-within {
            --color-border-shadow: 0 0 0 2px #1d86c7, 0 0 0 #059fff, 0 0px 0px rgb(104 109 112 / 20%);
          }
        }
      }
    }

    .preview {
      background-color: var(--white);
    }
  }

  .replyPlaceHolder {
    align-items: center;

    > div:last-of-type {
      flex-grow: 1;
      padding: 0;
      margin: 0;
    }
  }
}
