.main {
  min-height: var(--page-min-height, 100%);
  background-color: var(--primary-bg) !important;

  .table {
    .row {
      height: 80px;
      display: flex;
      justify-content: center;

      .title {
        font-weight: 600;
      }
    }
  }

  .noData > div {
    height: calc(100vh - var(--page-header-height, 64px) - 120px) !important;
  }
}
