.main {
  .title {
    --typography-size: 20px !important;
  }

  .description textarea {
    height: 300px !important;
  }

  .checkbox {
    color: var(--grey-600);
    font-size: var(--form-input-font-size) !important;
    font-weight: 500 !important;
    display: inline-flex !important;
  }
}

.hyperlink {
  color: var(--grey-bg) !important;
  text-decoration: underline;
}
