@import '~normalize.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '~@harness/uicore/dist/index.css';

html,
body,
#react-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
}
