@import 'src/utils/vars';

.main {
  @include vars;

  &.fullPage {
    --font-family: Inter, sans-serif;
    --font-family-mono: Roboto Mono, monospace;

    height: var(--page-height);
  }

  :global {
    div[data-testid='page-body'] > div[data-testid='page-error'] {
      height: 70vh !important;
    }

    .PageBody--pageBody {
      min-height: calc(var(--page-height) - var(--page-header-height, 64px));
    }
  }
}
