.layout {
  height: 33px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-200);
  background-color: var(--grey-50) !important;
  border-radius: 4px;
  padding-left: var(--spacing-small) !important;
  max-width: 100%;
  .url {
    // width: 80%;
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px !important;
  }

  button#cloneCopyButton {
    --button-height: 24px !important;
    border-radius: 0 !important;
    border-left: 1px solid var(--grey-200) !important;
    margin-left: var(--spacing-small) !important;
  }
}
