<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<header show-nav distance="160" class="dockable transition-fade flex-parent"></header>
<section class="central-container">
	<div class="flex-item pane restrict-center contains-cardset">
		<div class="breadcrumb flex-item truncate">
					<a ng-href="/{{ repo.full_name }}" class="backarrow"></a>
					<a ng-href="/{{ repo.full_name }}" class="level">{{ repo.owner }} / {{ repo.name }}</a>
					<span class="spacer"></span>
					<a ng-href="/{{ repo.full_name }}" class="level">{{ build.sequence }}</span>
					<span class="spacer"></span>
					<span class="level">{{ task.sequence }}</span>
		</div>
	</div>
</section>


	<main>

			<section class="commit-section">
					<div class="commit-status">
						<div class="status {{ task.state }}" ng-if="task"></div>
						<div class="status {{ build.state }}" ng-if="!task"></div>
					</div>
					<div class="commit-meta">
						<h2>{{ build.message }}</h2>
						<h3>authored <span>{{ build.created_at | fromNow }}</span> by <span>@{{ build.author }}</span></h3>

						<span class="octicon octicon-git-commit">{{ build.sha.substr(0,8) }}</span>
						<span class="octicon octicon-git-branch">{{ build.branch }}</span>
						<span class="octicon octicon-clock" style="background:#FFF;">{{ build.duration | toDuration }} duration</span>

						<span class="octicon octicon-settings" style="color: #BDBDBD; background:#FFF;position:absolute;top:20px;right:10px;padding:0px;font-size:24px;opacity:0.8;margin:0px;"></span>
						<span class="md md-more-horiz" style="position:absolute;bottom:20px;right:20px;color:#BDBDBD;font-size:24px;opacity:0.8;margin:0px;"></span>

					</div>

				</section>

			<section ng-if="build.builds.length > 1">
				<table border="1">
					<thead>
						<tr>
							<th>Number</th>
							<th>Status</th>
							<th>Started</th>
							<th>Finished</th>
							<th>Duration</th>
							<th>Exit Code</th>
							<th>Matrix</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="task in build.builds">
							<td><a ng-href="{{ repo.full_name }}/{{ build.sequence }}/{{ task.sequence }}">{{ task.sequence }}</a></td>
							<td>{{ task.state }}</td>
							<td>{{ task.started_at | fromNow }}</td>
							<td>{{ task.finished_at | fromNow }}</td>
							<td>{{ task.duration | toDuration }}</td>
							<td>{{ task.exit_code }}</td>
							<td>{{ task.environment }}</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section>
				<pre id="term" ng-if="task && task.state !== 'pending'"></pre>
			</section>


			<button class="fab" ng-if="build.state === 'running'" ng-click="tail()"></button>
	</main>
</body>
</html>



	<button ng-if="build.state !== 'pending' && build.state !== 'running'" ng-click="restart()">Restart</button>
	<button ng-if="build.state === 'pending' || build.state === 'running'" ng-click="cancel()">Cancel</button>



<!--

<h1>{{ repo.full_name }}/{{ build.sequence }}</h1>

<a href="/{{ repo.full_name }}">Back</a>

<div>

</div>

<dl>
	<dt>Build State</dt>
	<dd>{{ build.state }}</dd>

	<dt>Started</dt>
	<dd>{{ build.started_at | fromNow }}</dd>

	<dt>Duration</dt>
	<dd>{{ build.duration | toDuration }}</dd>

	<dt>Type</dt>
	<dd>{{ build.pull_request ? "pull request" : "push" }}</dd>

	<dt ng-if="build.pull_request">Pull Request</dt>
	<dd ng-if="build.pull_request">{{ build.pull_request }}</dd>

	<dt>Ref</dt>
	<dd>{{ build.ref }}</dd>

	<dt>Sha</dt>
	<dd>{{ build.sha }}</dd>

	<dt>Author</dt>
	<dd>{{ build.author }}</dd>

	<dt>Message</dt>
	<dd>{{ build.message }}</dd>
</dl>

<hr>

<dl>
	<dt>Task State</dt>
	<dd>{{ task.state }}</dd>

	<dt>Started</dt>
	<dd>{{ task.started_at | fromNow }}</dd>

	<dt>Finished</dt>
	<dd>{{ task.finished_at | fromNow }}</dd>

	<dt>Duration</dt>
	<dd>{{ task.duration | toDuration }}</dd>

	<dt>Exit Code</dt>
	<dd>{{ task.exit_code }}</dd>

	<dt>Matrix</dt>
	<dd>{{ task.environment }}</dd>
</dl>


-->
