<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">

	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a ng-href="/{{ repo.full_name }}" class="icon icon-home"></a>
		<a ng-href="/{{ repo.full_name }}">{{ repo.owner }} / {{ repo.name }}</a>
		<span class="spacer"></span>
		<a ng-href="/{{ repo.full_name }}/{{ build.sequence }}">{{ build.sequence }}</a>
		<span class="spacer"></span>
		<a href="#">{{ task.sequence }}</a>
	</div>

	<div class="menu">
		<a href="settings.html" class="icon icon-settings"></a>
		<a ng-href="/{{ repo.full_name }}/edit" class="nav-item settings float-right"></a>
		<button ng-click="watch(repo)"   ng-if="!repo.starred" class="nav-item star float-right"></button>
		<button ng-click="unwatch(repo)" ng-if="repo.starred"  class="nav-item unstar float-right"></button>
	</div>

</div>



	<article>

			<section class="commit-section">
					<div class="commit-status">
						<div class="status {{ task.state }}" ng-if="task"></div>
						<div class="status {{ build.state }}" ng-if="!task"></div>
					</div>
					<div class="commit-meta">
						<h2>{{ build.message }}</h2>
						<h3>authored <span>{{ build.created_at | fromNow }}</span> by <span>@{{ build.author }}</span></h3>

						<span class="octicon octicon-git-commit">{{ build.sha.substr(0,8) }}</span>
						<span class="octicon octicon-git-branch">{{ build.branch }}</span>
						<span class="octicon octicon-clock" style="background:#FFF;">{{ build.duration | toDuration }} duration</span>

						<span class="octicon octicon-settings" style="color: #BDBDBD; background:#FFF;position:absolute;top:20px;right:10px;padding:0px;font-size:24px;opacity:0.8;margin:0px;"></span>
						<span class="md md-more-horiz" style="position:absolute;bottom:20px;right:20px;color:#BDBDBD;font-size:24px;opacity:0.8;margin:0px;"></span>

					</div>

				</section>

			<section ng-if="build.builds.length > 1">
				<table border="1">
					<thead>
						<tr>
							<th>Number</th>
							<th>Status</th>
							<th>Started</th>
							<th>Finished</th>
							<th>Duration</th>
							<th>Exit Code</th>
							<th>Matrix</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="task in build.builds">
							<td><a ng-href="{{ repo.full_name }}/{{ build.sequence }}/{{ task.sequence }}">{{ task.sequence }}</a></td>
							<td>{{ task.state }}</td>
							<td>{{ task.started_at | fromNow }}</td>
							<td>{{ task.finished_at | fromNow }}</td>
							<td>{{ task.duration | toDuration }}</td>
							<td>{{ task.exit_code }}</td>
							<td>{{ task.environment }}</td>
						</tr>
					</tbody>
				</table>
			</section>

			<pre id="term" ng-if="task && task.state !== 'pending'" ng-class="[task.state]"></pre>



			<button class="fab" ng-if="build.state === 'running'" ng-click="tail()"></button>
	</article>



	<button ng-if="build.state !== 'pending' && build.state !== 'running'" ng-click="restart()">Restart</button>
	<button ng-if="build.state === 'pending' || build.state === 'running'" ng-click="cancel()">Cancel</button>
