<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">

	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="/" class="icon icon-home"></a>
		<a href="#">{{ repo.owner }} / {{ repo.name }}</a>
	</div>

	<div class="menu">
		<a ng-href="/{{ repo.full_name }}/edit" class="nav-item settings float-right" ng-if="repo.permissions.pull"></a>
		<button ng-click="watch(repo)"   ng-if="!repo.starred && user" class="nav-item star float-right"></button>
		<button ng-click="unwatch(repo)" ng-if="repo.starred && user"  class="nav-item unstar float-right"></button>
	</div>

</div>



<article>
	<section>
		<a class="row build-row" ng-repeat="build in builds | orderBy:'-sequence'" ng-href="/{{ repo.full_name }}/{{ build.sequence }}">
			<div>
				<div ng-class="[ 'build-num', build.state ]"></div>
			</div>
			<div>
				<h3>{{ build.message }}</h3>
				<p><strong>{{ build.author }}</strong> pushed to <strong>{{ build.branch }}</strong> {{ build.started_at | fromNow }}</p>
				<div style="position:absolute;top:30px;right:30px;color:#CCC;"># {{build.sequence}}</div>
			</div>
		</a>
	</section>
</article>
