<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">

	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a ng-href="/{{ repo.full_name }}/{{ build.sequence }}" class="icon icon-home"></a>
		<a ng-href="/{{ repo.full_name }}">{{ repo.owner }} / {{ repo.name }}</a>
		<span class="spacer"></span>
		<a ng-href="/{{ repo.full_name }}/{{ build.sequence }}">{{ build.sequence }}</a>
		<span class="spacer"></span>
		<a href="#">{{ task.sequence }}</a>
	</div>

	<div class="menu">
		<a ng-href="/{{ repo.full_name }}/edit" class="nav-item settings float-right"></a>
		<button ng-click="watch(repo)"   ng-if="!repo.starred" class="nav-item star float-right"></button>
		<button ng-click="unwatch(repo)" ng-if="repo.starred"  class="nav-item unstar float-right"></button>
	</div>

</div>



	<article>

			<section class="commit-section">
				<div class="row build-row">
					<div>
						<div ng-class="[ 'build-num', task.state ]"  ng-if="task"></div>
						<div ng-class="[ 'build-num', build.state ]" ng-if="!task"></div>
					</div>
					<div>
						<h3>{{ build.message }}</h3>
						<p><strong>{{ build.author }}</strong> pushed to <strong>{{ build.branch }}</strong> {{ build.started_at | fromNow }}</p>
					</div>
				</div>

				<div class="row build-row sub-build-row" ng-if="build.builds.length > 1">
					<div>
						
					</div>
					<div>
						<h3 style="margin-top:0px">
							<div ng-repeat="(key, value) in task.environment">
								{{ key.toUpperCase() }}={{ value }}
							</div>
						</h3>
					</div>
				</div>
			</section>
	



		<pre id="term" ng-if="task && task.state !== 'pending'"></pre>
		<button class="fab" ng-if="build.state === 'running'" ng-click="tail()"></button>
	</article>



	<button ng-if="build.state !== 'pending' && build.state !== 'running'" ng-click="restart()">Restart</button>
	<button ng-if="build.state === 'pending' || build.state === 'running'" ng-click="cancel()">Cancel</button>
