<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">
	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="#">Dashboard</a>
	</div>
</div>

<article>
	<section>

		<a href="/new">New</a>

		<table border="1">
			<thead>
				<tr>
					<th>Repo</th>
					<th>Status</th>
					<th>Number</th>
					<th>Started</th>
					<th>Duration</th>
					<th>Branch</th>
					<th>Commit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="repo in repos">
					<td><a ng-href="{{ repo.full_name }}">{{ repo.full_name }}</a></td>
					<td>{{ repo.last_build.state }}</td>
					<td><a ng-href="{{ repo.full_name }}/{{ repo.last_build.number }}">{{ repo.last_build.number }}</a></td>
					<td>{{ repo.last_build.started_at | fromNow }}</td>
					<td>{{ repo.last_build.duration | toDuration }}</td>
					<td>{{ repo.last_build.head_commit.ref || repo.last_build.pull_request.source.ref }}</td>
					<td>{{ repo.last_build.head_commit.sha || repo.last_build.pull_request.source.ref }}</td>
				</tr>
			</tbody>
		</table>

	</section>
</article>