<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">

	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="/{{ repo.full_name }}" class="icon icon-home"></a>
		<a ng-href="/{{ repo.full_name }}">{{ repo.owner }} / {{ repo.name }}</a>
	</div>

	<div class="menu">
		<a href="settings.html" class="icon icon-settings"></a>
		<a ng-href="/{{ repo.full_name }}/edit" class="nav-item settings float-right"></a>
		<button ng-click="watch(repo)"   ng-if="!repo.starred" class="nav-item star float-right"></button>
		<button ng-click="unwatch(repo)" ng-if="repo.starred"  class="nav-item unstar float-right"></button>
	</div>

</div>


<article>
	<section>
		<h2>Hooks</h2>
		<div class="row">
			<div>Post Commit Hooks</div>
			<div>
				<input id="post_commits" type="checkbox" hidden="hidden" ng-model="repo.post_commits" ng-change="save(repo)" />
				<label for="post_commits" class="switch"></label>
			</div>
		</div>
		<div class="row">
			<div>Pull Request Hooks</div>
			<div>
				<input id="pull_requests" type="checkbox" hidden="hidden" ng-model="repo.pull_requests" ng-change="save(repo)" />
				<label for="pull_requests" class="switch"></label>
			</div>
		</div>
	</section>

	<section ng-if="user.admin">
		<h2>Advanced</h2>
		<div class="row">
			<div>Trusted (Evelvate Privilege)</div>
			<div>
				<input id="trusted" type="checkbox" hidden="hidden" ng-model="repo.trusted" ng-change="save(repo)" />
				<label for="trusted" class="switch"></label>
			</div>
		</div>
		<div class="row">
			<div>Timeout in minutes</div>
			<div>
				<input type="range" ng-model="repo.timeout" min="0" max="900" ng-blur="save(repo)" />
				<span class="slider-label">{{ repo.timeout }} minutes</span>
			</div>
		</div>
	</section>

	<section>
		<form>

			<ul>
				<li ng-repeat="(key, value) in repo.params">
					<label>{{ key }}</label>
					<input type="text" ng-model="repo.params[key]"/>
					<button ng-click="deleteParam(key)">remove</button>
				</li>
				<li>
					<input type="text" ng-model="param.key" />
					<input type="text" ng-model="param.value" />
					<button ng-click="addParam(param)">add</button>
				</li>
			</ul>



			<button ng-click="save(repo)">Save</button>
			<button ng-click="delete(repo.full_name)">Delete</button>
		</form>

	</section>

	<section>
		<h2>Badges</h2>
		<div class="row">
			<div>Markdown</div>
			<div>
				<pre class="snippet">[![Build Status]({{ window.location.origin }}/api/badges/{{ repo.full_name }}/status.svg)]({{ window.location.origin }}/{{ repo.full_name }})</pre>
			</div>
		</div>
		<div class="row">
			<div>CCMenu</div>
			<div>
				<pre class="snippet">{{ window.location.origin }}/api/badges/{{ repo.full_name }}/cc.xml</pre>
			</div>
		</div>
	</section>

	<section>
		<h2>Public Key</h2>
		<div>
			<pre class="snippet snippet-padding">{{ repo.keypair.public }}</pre>
		</div>
	</section>
</article>
