<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">
	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="#">Dashboard</a>
	</div>
</div>

<article>


	<section>
		<div class="search clearfix">
			<a href="/new">Add Repo</a>
		</div>

		<a class="row build-row" ng-repeat="repo in repos | orderBy:'full_name'" ng-href="/{{ repo.full_name }}">
			<div>
				<div class="build-num build-last success">&nbsp;</div>
			</div>
			<div>
				<h3>{{ repo.owner }} / {{ repo.name }}</h3>
				<p>{{ repo.clone_url }}</p>
			</div>
		</a>

	</section>
</article>