<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">

	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="/{{ repo.full_name }}/edit" class="icon icon-home"></a>
		<a ng-href="/{{ repo.full_name }}">{{ repo.owner }} / {{ repo.name }}</a>
	</div>

	<div class="menu">
		<a ng-href="/{{ repo.full_name }}/edit" class="nav-item settings float-right"></a>
		<button ng-click="watch(repo)"   ng-if="!repo.starred" class="nav-item star float-right"></button>
		<button ng-click="unwatch(repo)" ng-if="repo.starred"  class="nav-item unstar float-right"></button>
	</div>

</div>
<article>
	<section style="padding:30px;">
		<h2 style="  padding-left: 0px;
  padding-top: 0px;
  margin-bottom: 10px;">Private variables</h2>
		<div ng-repeat="(key, value) in repo.params" class="row-env">
			<div><span>export</span> {{ key }} <span>=</span></div>
			<div>{{ value }}</div>
			<button ng-click="deleteParam(key)" class="btn-remove"></button>
		</div>
		<form style="padding-top:30px;font-family:'Droid Sans Mono','Roboto','Arial';font-size:14px;">
			<span style="color:#2196F3">export</span>
			<input type="text" placeholder="FOO" ng-model="param.key" style="border:none;border-bottom:1px solid #9E9E9E;line-height:24px;font-family:'Droid Sans Mono','Roboto','Arial';font-size:14px;" />
			<span style="color:#2196F3">=</span>
			<input type="text" placeholder="BAR" ng-model="param.value" style="border:none;border-bottom:1px solid #9E9E9E;line-height:24px;font-family:'Droid Sans Mono','Roboto','Arial';font-size:14px;" />
			<button ng-click="addParam(param)" style="background: #66bb6a;
padding: 8px 20px;
color: #FFF;
font-family: Roboto;
text-transform: uppercase;">add</button>
		</form>
	</section>
</article>
