<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">
	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="/" class="icon icon-home"></a>
		<a href="#">Users</a>
	</div>
</div>

<article>

	<section>
		<form style="padding:30px">
			<input type="text" ng-model="login" placeholder="i.e. octocat" style="font-size:14px;padding:10px 20px;width:400px;border: 1px solid #d9d9d9;outline:none;"/>
			<button ng-click="add(login)" style="display: inline-block;background:#EEE;font-size:14px; padding:0px 20px;text-transform:uppercase;cursor:pointer;color:#616161;height:39px;line-height:41px;margin-left:10px;">Add User</button>

		</form>
	</section>

	<section>
		<table border="1">
			<thead>
				<tr>
					<th></th>
					<th>Login</th>
					<th>Email</th>
					<th>Admin</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td><img ng-src="{{ user.gravatar_id | gravatar }}" /></td>
					<td>{{ user.login }}</td>
					<td>{{ user.email }}</td>
					<td>{{ !!user.admin }}</td>
					<td><button ng-click="toggle(user)">toggle admin</button></td>
					<td><button ng-click="remove(user)">delete</button></td>
				</tr>
			</tbody>
		</table>
	</section>


</article>
