<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">

	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="/" class="icon icon-home"></a>
		<a href="#">Profile</a>
	</div>
</div>

<article>
	<section>
		<h2>Login info</h2>
		<div class="row">
			<div>Login</div>
			<div>{{ user.login }}</div>
		</div>
		<div class="row">
			<div>Full Name</div>
			<div>{{ user.name }}</div>
		</div>
		<div class="row">
			<div>Email</div>
			<div>{{ user.email }}</div>
		</div>
	</section>

	<section>
		<h2>Tokens</h2>
		<form>
			<input type="label" ng-model="newToken.label" />
			<button ng-click="createToken(newToken)">Create</button>
		</form>

		<div class="alert" ng-if="tokens && tokens.length === 0">No Personal Tokens Exist</div>

		<table ng-if="tokens && tokens.length !== 0">
			<thead>
				<tr>
					<th>Label</th>
					<th>Issued</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="token in tokens">
					<td>{{ token.label }}</td>
					<td>{{ token.issued_at | fromNow }}</td>
					<td><button ng-click="revokeToken(token)">delete</button></td>
				</tr>
				<tr ng-repeat-end ng-if="token.hash">
					<td colspan="3">
						<span>Make sure to copy your new personal access token now. You won't be able to see it again!</span>
						<pre style="white-space: pre-line;overflow-wrap: break-word;">{{ token.hash }}</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</article>