<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<div class="toolbar">
	<div class="breadcrumb"  style="position:relative;top:0px;">
		<a href="/" class="icon icon-home"></a>
		<a href="#">Users</a>
	</div>
</div>

<article>
	<section>
		<table border="1">
			<thead>
				<tr>
					<th>Login</th>
					<th>Full Name</th>
					<th>Created</th>
					<th>Updated</th>
					<th>Email</th>
					<th>Site Admin</th>
					<th>Gravatar</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{ user.login }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.created_at | fromNow }}</td>
					<td>{{ user.updated_at | fromNow }}</td>
					<td>{{ user.email }}</td>
					<td>{{ !!user.admin }}</td>
					<td><img ng-src="{{ user.gravatar_id | gravatar }}" /></td>
					<td><button ng-click="toggle(user)">toggle admin</button></td>
					<td><button ng-click="remove(user)">delete</button></td>
				</tr>
			</tbody>
		</table>
	</section>
	
	<section>
		<form>
			<input type="text" ng-model="login" />
			<button ng-click="add(login)">Add</button>
		</form>
	</section>
</article>