<header>
	<a class="logo float-left" href="/"></a>
	<a class="menu-item settings float-right" href="/profile"></a>
	<a class="menu-item users float-right" href="/users" ng-if="user.admin"></a>
	<a class="menu-item help float-right" href="http://readme.drone.io" target="_blank"></a>
	<a class="menu-item user-name float-right" href="/profile">{{ "+"+user.login }}</a>
</header>

<header show-nav distance="160" class="dockable transition-fade flex-parent"></header>
<section class="central-container">
	<div class="flex-item pane restrict-center contains-cardset">
		<div class="breadcrumb flex-item truncate">
					<a href="/" class="backarrow"></a>
					<a href="#" class="level">Profile</a>
		</div>
	</div>
</section>


<dl>
	<dt>Login</dt>
	<dd>{{ user.login }}</dd>

	<dt>Full Name</dt>
	<dd>{{ user.name }}</dd>

	<dt>Created</dt>
	<dd>{{ user.created_at | fromNow }}</dd>

	<dt>Updated</dt>
	<dd>{{ user.update_at | fromNow }}</dd>

	<dt>Email</dt>
	<dd>{{ user.email }}</dd>

	<dt>Site Admin</dt>
	<dd>{{ user.admin }}</dd>

	<dt>Gravatar</dt>
	<dd><img ng-src="{{ user.gravatar_id | gravatar }}"</dd>
</dl>


<form>
	<input type="label" ng-model="newToken.label" />
	<button ng-click="createToken(newToken)">Create</button>
</form>

<div class="alert" ng-if="tokens && tokens.length === 0">No Personal Tokens Exist</div>

<table ng-if="tokens && tokens.length !== 0">
	<thead>
		<tr>
			<th>Label</th>
			<th>Issued</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat-start="token in tokens">
			<td>{{ token.label }}</td>
			<td>{{ token.issued_at | fromNow }}</td>
			<td><button ng-click="revokeToken(token)">delete</button></td>
		</tr>
		<tr ng-repeat-end ng-if="token.hash">
			<td colspan="3">
				<span>Make sure to copy your new personal access token now. You won't be able to see it again!</span>
				<pre style="white-space: pre-line;overflow-wrap: break-word;">{{ token.hash }}</pre>
			</td>
		</tr>
	</tbody>
</table>
