@import 'src/utils/utils';

.main {
  overflow: auto;

  :global {
    .wmde-markdown {
      @include markdown-font;

      pre {
        position: relative;

        .code-line {
          white-space: break-spaces;
        }
      }

      tt,
      code {
        @include mono-font;
      }

      // Customize https://wangchujiang.com/rehype-video/
      details.octicon.octicon-video {
        display: block;

        > summary {
          padding-bottom: var(--spacing-xsmall);

          > svg {
            margin: 0 var(--spacing-small);
          }
        }
      }
    }
  }
}
