.main {
  overflow: auto;

  :global {
    .wmde-markdown {
      pre {
        position: relative;

        .code-line {
          white-space: break-spaces;
        }
      }

      // Customize https://wangchujiang.com/rehype-video/
      details.octicon.octicon-video {
        display: block;

        > summary {
          padding-bottom: var(--spacing-xsmall);

          > svg {
            margin: 0 var(--spacing-small);
          }
        }
      }
    }
  }
}
