<article>
		<section style="background:transparent !important;">
			<p style="color:#9E9E9E;font-size:15px;line-height:22px;">Register your repository with Drone to enable automated testing. Note that Drone
				will attempt to add a post-commit hook to your repository. This may require administrative access.</p>
		</section>
		<div class="alert alert-error" ng-if="error !== undefined">
			There was an error adding your repository. Please ensure the
			repository exists and you have admin privileges.
		</div>
		<section>
			<div style="padding:30px;">
					<input type="text" placeholder="octocat/Hello-World" ng-model="slug" style="font-size:14px;padding:10px 20px;width:400px;border: 1px solid #d9d9d9;outline:none;" />
					<div style="margin-top:20px;">
						<a href="/" style="display: inline-block;font-size:14px; padding:10px 20px;text-transform:uppercase;background:#EEE;text-decoration:none;color:#616161;">Cancel</a>
						<button ng-click="add(slug)" style="display: inline-block;background:#EEE;font-size:14px; padding:10px 20px;text-transform:uppercase;cursor:pointer;color:#616161;">Add</button>
				</div>
			</div>
		</section>

</article>
