.main {
  min-height: var(--page-height);
  background-color: var(--primary-bg) !important;
}

.resourceContent {
  background-color: var(--primary-bg);
}

.contentHeader {
  padding-bottom: var(--spacing-4) !important;
  > div {
    align-items: center;
  }
}

.changesContainer {
  padding: 0 0 var(--spacing-xlarge) 0 !important;
}
