.mainCtn {
  height: var(--page-min-height, 100%);
  background-color: var(--primary-bg) !important;

  .roleBadge {
    text-transform: capitalize;
    padding: var(--spacing-xsmall) 6px;
    border-radius: 4px;
    border: 1px solid var(--grey-200);
    background: var(--grey-50);
    width: max-content;
  }
}

.label {
  width: 7%;
  padding-right: var(--spacing-medium);
}

.content {
  width: 93%;
}

.deleteContainer {
  display: flex;
  justify-content: space-between;
}

.deleteBtn {
  white-space: nowrap !important;
  min-width: auto !important;
}

.saveBtn {
  margin-left: var(--spacing-medium) !important;
}

.textContainer {
  width: 80%;
}

.buttonContainer {
  width: 20%;
}

.generalContainer {
  width: 100%;
  background: var(--grey-0) !important;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: 4px;
}

.yellowContainer {
  background: #fcf4e3 !important;
  padding: var(--spacing-medium) var(--spacing-small);
  margin: 0 var(--spacing-large) 0 0 !important;
  border-radius: 4px;
}

.verticalContainer {
  width: 100% !important;
}