#
# systemd unit file for CentOS 7, Ubuntu bleeding edge
#
[Unit]
Description=Drone
# start us only once the network and logging subsystems are available
After=syslog.target network.target

# See these pages for lots of options:
# http://0pointer.de/public/systemd-man/systemd.service.html
# http://0pointer.de/public/systemd-man/systemd.exec.html
[Service]
Type=simple
ExecStart=/usr/local/bin/droned --config=/etc/drone/drone.toml

# if we crash, restart
RestartSec=1
Restart=on-failure

# use syslog for logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=droned

[Install]
WantedBy=multi-user.target