.main {
  padding: 10% !important;
}

.background {
  background-image: url('./CDEHomePageBackground.svg') !important;
  background-repeat: no-repeat !important;
  background-position-x: right !important;
  background-position-y: bottom !important;
}
